include ../includes/heading.jade
body
  main
    style.
        .bg-blue {
          background-image: url(https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/shape.png), 
          linear-gradient(180deg, rgba(25, 67, 136, .8), rgba(25, 67, 136, 1)), 
          url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/CoinOptions.png');
          background-size: cover;
          background-position: 50% 100%, 0px 0px, 50% 50%;
          background-size: contain, auto, cover;
          background-repeat: no-repeat, repeat, no-repeat;
          background-attachment: scroll, scroll, fixed;
          padding-bottom: 100px;}
      
    header.bg-blue
      include ../includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12.text-center
            h1 Coin Options
            p.large.white.vhq-mb-40
              | Purchase and exchange the top crypto currency like Bitcoin, Ethereum, and other ERC20 tokens.
              ul.list-unstyled.text-center.white-text(style='color: white')
                li.badge.badge-tag.badge-white Microsoft .NET
                li.badge.badge-tag.badge-white Microsoft SQL Server
                li.badge.badge-tag.badge-white Azure Auto Scaling
                li.badge.badge-tag.badge-white Redis Caching Server
                li.badge.badge-tag.badge-white Google API Integration
                li.badge.badge-tag.badge-white Adobe XD
                li.badge.badge-tag.badge-white Protopie
                li.badge.badge-tag.badge-white Xamarin
    
    section
      .container
        .row
          .col-md-8.col-sm-12
            h6 A mobile cryptocurrency wallet and that is created with ease of use in mind.
            p Coin Options was designed for the every day consumer to begin investing and trading cryptocurrency.
          .col-md-4.col-sm-12
            h6 Services Completed
            ul.list-unstyled
              li.checkmark Project Management
              li.checkmark Development Consultation
              li.checkmark User Experience Design & Optimization
              li.checkmark Mobile Application Development

    section.bg-white
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row
          .col-md-4.col-sm-12
            h5 Objectives
            p 
          .col-md-7.offset-md-1.col-sm-12
            img.img-fluid.img-responsive(src="/img/coinoptions/coinoptions-login.png")

    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row
          .col-md-4.col-sm-12
            h5 Solution
            p 
          .col-md-7.offset-md-1.col-sm-12
            img.img-fluid.img-responsive(src="/img/coinoptions/coinoptions-transfer-funds.png")

    section
      div(style="background: url('/img/coinoptions/coinoptions-banner.png'); height: 600px; background-position-y: center; background-size: cover")          

    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row
          .col-md-12.col-sm-12.text-center
            h2 Featured Screen Shots
            #animated-thumbnails
              a(href='/img/coinoptions/coinoptions-login.png')
                img(src='/img/coinoptions/coinoptions-login.png', style='height: 160px; margin: 10px')
              a(href='/img/coinoptions/coinoptions-live-prices.png')
                img(src='/img/coinoptions/coinoptions-live-prices.png', style='height: 160px; margin: 10px')
              a(href='/img/coinoptions/coinoptions-transfer-funds.png')
                img(src='/img/coinoptions/coinoptions-transfer-funds.png', style='height: 160px; margin: 10px')
              a(href='/img/coinoptions/coinoptions-wallets.png')
                img(src='/img/coinoptions/coinoptions-wallets.png', style='height: 160px; margin: 10px')



    include ../snippets/need-help-contact-us.jade
    
    section
      .container
        .row.text-center
          .col-12
            h2.text-center Other Projects
            p.large.text-center.vhq-mb-md-60
              | We have worked on many applications, check out some of our other work.
        .row.card-deck
          a.card(href='/services/software-development').mb-3.sm-noflex.card-30 
            .card-body.text-center
              .service-icon.service-icon-1
              h6.card-title Software Development
              .card-text Custom Enterprise Software designed to streamline and increase efficiency, productivity, and connectivity within your organizations operations.
          a.card(href='/services/software-development').mb-3.sm-noflex.card-30
            .card-body.text-center
              .service-icon.service-icon-2
              h6.card-title Mobile Development
              .card-text Develop applications that reach the entire market.
                | Exquisite Software creates native and cross-platform mobile applications for iOS, Windows Mobile and Android devices. 
          a.card(href='/services/mobile-development').mb-3.sm-noflex.card-30
            .card-body.text-center
              .service-icon.service-icon-3
              h6.card-title Web Development
              .card-text Tailored Business Dashboards, Web Applications, and Website Development tailored to fit your brand.
          a.card(href='/services/web-design-and-development').mb-3.sm-noflex.card-30
            .card-body.text-center
              .service-icon.service-icon-4
              h6.card-title UI & UX Design and Optimization
              .card-text User Experience Optimization and Design intended to increase engagement and productivity.
          a.card(href='/services/user-experience').mb-3.sm-noflex.card-30
            .card-body.text-center
              .service-icon.service-icon-5
              h6.card-title QA & Testing
              .card-text Your application’s health is critical and any problems with the usability may lead to the loss of end-users. 
          a.card(href='/services/quality-assurance').mb-3.sm-noflex.card-30
            .card-body.text-center
              .service-icon.service-icon-7
              h6.card-title DevOps
              .card-text A team at your fingertips, ensuring all critical points of your application are monitored and accessable.
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.text-center
          .col-md-12.col-sm-12
              a.btn.btn-outline-primary.vhq-ml-md-10(href="/our-work") See All Projects
            
  include ../snippets/key-benefits.jade 
  include ../snippets/help-your-business.jade
  include ../includes/footer.jade
 
