include ../includes/heading.jade
body
  main
    header.bg-blue
      include ../includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12.text-center
            h1 Project is coming soon
            p.large.white.m-b-20.mb20.mb-20
              | All good things come to those who wait. 
  section.bg-light
    .container
      h2.vhq-mb-40.vhq-mb-md-60.text-center This project is actively being worked on.
      p.large.text-center.vhq-mb-md-60 We are working hard on this project, check back reguarly for updates to this project.
            | We have worked on many applications, check out some of our other work.
      
      .row.gutter-xs-none.gutter-md-wide.vhq-info-row.text-center
        .col-md-12.col-sm-12
            a.btn.btn-outline-primary.vhq-ml-md-10(href="/our-work") See All Projects   

    include ../snippets/need-help-contact-us.jade


            
  include ../snippets/key-benefits.jade 
  include ../snippets/help-your-business.jade
  include ../includes/footer.jade