include ../includes/heading.jade
body
  main
    style.
        .bg-blue {
          background-image: url(https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/shape.png), 
          linear-gradient(180deg, rgba(25, 67, 136, .8), rgba(25, 67, 136, 1)), 
          url('/img/flyp/flyp.png');
          background-size: cover;
          background-position: 50% 100%, 0px 0px, 50% 50%;
          background-size: contain, auto, cover;
          background-repeat: no-repeat, repeat, no-repeat;
          background-attachment: scroll, scroll, fixed;
          padding-bottom: 100px;}
      
    header.bg-blue
      include ../includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12.text-center
            h1 FLYP
            p.large.white.vhq-mb-40
              | Take full advantage of your insurance policy with FLYP.
              ul.list-unstyled.text-center.white-text(style='color: white')
                li.badge.badge-tag.badge-white Microsoft .NET
                li.badge.badge-tag.badge-white Microsoft SQL Server
                li.badge.badge-tag.badge-white Azure Auto Scaling
                li.badge.badge-tag.badge-white Redis Caching Server
                li.badge.badge-tag.badge-white Google API Integration
                li.badge.badge-tag.badge-white Adobe XD
                li.badge.badge-tag.badge-white Protopie
                li.badge.badge-tag.badge-white Xamarin
    
    section
      .container
        .row
          .col-md-8.col-sm-12
            h6 A home-cleaning platform for cleaners and consumers alike.
            p Clyn began its journey in 2019, and was looking to disrupt the cleaning industry. As a person to person based application, consumers can connect with Clyners to have their homes cleaned on demand or on a subscription basis. There are many factors that make Clyn unique, including the ability for households to split payments between all members.

            p Clyn is keeping consumers safe by utilizing background checks and validation of licenses to ensure that the platform stays trustworthy and has only vetted companies and cleaners on the platform. Clyn incorporates an internal ranking and review system, allowing for real-world feedback, that only previous paid customers can utilize to ensure that all reviews are real, and provides new users the ability to learn about their cleaner before they make their choice.

            p By integrating with Stripe Connect, cleaners are able to get paid instantly, this ability has set Clyn apart from the competitors, and adds great value and incentive to all cleaners on the platform.

          .col-md-4.col-sm-12
            h6 Services Completed
            ul.list-unstyled
              li.checkmark Project Management
              li.checkmark Development Consultation
              li.checkmark User Experience Design & Optimization
              li.checkmark Mobile Application Development

    section.bg-white
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row
          .col-md-4.col-sm-12
            h5 Objectives
            p Clyn as a business takes the stress out of finding reliable home-cleaners, landscapers, and handymen.
            p Clyn came to Exquisite Software with the idea of creating a crowd sourced application that targets businesses and consumers, and enables businesses to grow their presence throughout the community.
            p The goal was to make Clyn a house-hold name by creating platform that allows convenience, reliability, and trust.
          .col-md-7.offset-md-1.col-sm-12
            img.img-fluid.img-responsive(src="/img/flyp/flyp-login.jpg")

    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row
          .col-md-4.col-sm-12
            h5 Solution
            p Clyn has became a reliable application among house-holds to conveniently locate cleaners, landscapers, and handyman to help with their monthly and one-time needs.
            p Exquisite Software created a two-sided mobile application for Clyn, allowing Cleaners to signup, and give their business mobile presence, earn rewards, and have the ability to receive reviews from their jobs within the platform.
            p Consumers have the ability to locate and find Cleaners that have been background checked, easily schedule appointments, and split payments between their households.
            p Our implementations have helped Clyn with the foundation for their business, the application has received great feedback, and successfully grow their platform in multiple countries throughout the world.
          .col-md-7.offset-md-1.col-sm-12
            img.img-fluid.img-responsive(src="/img/flyp/flyp-details.png")

    section
      div(style="background: url('/img/flyp/flyp-banner.png'); height: 600px; background-position-y: center; background-size: cover")          

    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row
          .col-md-12.col-sm-12.text-center
            h2 Featured Screen Shots            
            #animated-thumbnails
              each _,i in Array(9)
                if i > 0
                    a(href='/img/flyp/screens/' + i + '.png')
                      img(src='/img/flyp/screens/' + i +'.png', style='height: 160px; margin: 10px')

      
    include ../snippets/other-projects.jade
    include ../snippets/need-help-contact-us.jade
    include ../snippets/our-services.jade
            
  include ../snippets/key-benefits.jade 
  include ../snippets/help-your-business.jade
  include ../includes/footer.jade
 
