include ../includes/heading.jade
body
  main
    header.bg-blue
      include ../includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12.text-center
            h1 Western Window Systems Mobile ERP Platform
            p.large.white.vhq-mb-40
              | A mobile application designed to provide insight into the manufacturing floor and give access to the most critical functionality.
              ul.list-unstyled.text-center.white-text(style='color: white')
                li.badge.badge-tag.badge-white Microsoft .NET
                li.badge.badge-tag.badge-white Microsoft SQL Server
                li.badge.badge-tag.badge-white Azure Auto Scaling
                li.badge.badge-tag.badge-white Redis Caching Server
                li.badge.badge-tag.badge-white Google API Integration
    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row
          .col-md-8.col-sm-12
            h6 Western Mobile ERP
            p Western Window Systems is a manufacture of Glass Walls and Windows that blend the indoors with the outside. Their manufacturing teams required a mobile solution that tied in with their existing Enterprise Resource Planning (ERP) to allow for utilization and extension of the platforms existing details and functionality.
            p Exquisite Software created a custom mobile application that provided Western Window Systems with the ability to run their entire operation and provide transparency of all shipments, orders, inventory from their manufacturing floor.
            p With the addition of printing hardware, the mobile solution was able to print new labels on the fly, with inventory details, barcodes, and lengths of materials that have been used, allowing for a reduction in waste and the ability to reuse cut materials by knowing exactly where and what material is available.
            p Because the ERP was an extension to Western Window Systems existing infrastructure, their administration was provided with a transparent view into the manufacturing's workflow and a real-time feed of their warehouses floor.

          .col-md-4.col-sm-12
            h6 Services Completed
            ul.list-unstyled
              li.checkmark Project Management
              li.checkmark Development Consultation
              li.checkmark Software Development
              li.checkmark Web Development
              li.checkmark Mobile Application Development
    section
      div(style="background: url('https://westernwindowsystems.com/images/layerslider/volunteers/western-volunteers-v1.jpg'); height: 600px; background-size: cover")          
    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row
          .col-md-12.col-sm-12.text-center
            h2 Featured Screen Shots
            #animated-thumbnails
              a(href='https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Western-Mobile-ERP/17.png')
                img(src='https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Western-Mobile-ERP/20.png', style='height: 160px; margin: 10px')
              a(href='https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Western-Mobile-ERP/20.png')
                img(src='https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Western-Mobile-ERP/20.png', style='height: 160px; margin: 10px')


    include ../snippets/other-projects.jade
    include ../snippets/need-help-contact-us.jade
    include ../snippets/our-services.jade


            
  include ../snippets/key-benefits.jade 
  include ../snippets/help-your-business.jade
  include ../includes/footer.jade