include ../includes/heading.jade
body
  main
    header.bg-blue
      include ../includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Project Title
            p.large.white
              | Find out how Exquisite Software helped Rugged Video

    section.container
        h2.vhq-mb-40.vhq-mb-md-60.text-center Project Title
        p.text-center n/a
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row
          .col-md-9.col-sm-12
            img.img-fluid(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Rugged-Video-Kiosk/main.png")
              
          .col-md-3.col-sm-12
            ul.list-unstyled
              li.vhq-mb-20
                img.img-fluid(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Rugged-Video-Kiosk/share.png")
              li.vhq-mb-20
                img.img-fluid(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Rugged-Video-Kiosk/transfers.png")
              
    
    section.bg-white
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row
          .col-md-8.col-sm-12
            h6 Project Name
            p Project Description

            h6 Objectives
            p -

            h6 Problems
            p -

            h6 Solution
            p -

          .col-md-4.col-sm-12
            h6 Services Completed
            ul.list-unstyled
              li.checkmark n/a

            h6 Tags
            ul.list-unstyled
              li.badge.badge-tag n/a
    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.text-center
          .col-md-12.col-sm-12.text-center
            h4 Have a project you need help with?
            a.btn.btn-outline-primary.text-center.vhq-ml-md-10(href="Contact Us") Contact Us
    section
      .container
        .row.text-center
          .col-12
            h2.text-center Other Projects
            p.large.text-center.vhq-mb-md-60
              | We have worked on many applications, check out some of our other work.
        .row.card-deck
          a.card(href='/services/software-development').mb-2.sm-noflex 
            .card-body.text-center
              .service-icon.service-icon-1
              h6.card-title Software Development
              .card-text Custom Enterprise Software designed to streamline and increase efficiency, productivity, and connectivity within your organizations operations.
          a.card(href='/services/software-development').mb-2.sm-noflex 
            .card-body.text-center
              .service-icon.service-icon-2
              h6.card-title Mobile Development
              .card-text Develop applications that reach the entire market.
                | Exquisite Software creates native and cross-platform mobile applications for iOS, Windows Mobile and Android devices. 
          a.card(href='/services/software-development').mb-2.sm-noflex 
            .card-body.text-center
              .service-icon.service-icon-2
              h6.card-title Mobile Development
              .card-text Develop applications that reach the entire market.
                | Exquisite Software creates native and cross-platform mobile applications for iOS, Windows Mobile and Android devices. 
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.text-center
          .col-md-12.col-sm-12
              a.btn.btn-outline-primary.vhq-ml-md-10(href="/portfolio") See All Projects

            
  include ../snippets/key-benefits.jade 
  include ../snippets/help-your-business.jade
  include ../includes/footer.jade