include ../includes/heading.jade
body
  main
    header.bg-blue
      include ../includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Case Studies
            p.large.white
              | Find out how Exquisite has helped other businesses create and implement solid technology and software strategies.
    section
      .container
        .row.text-center
          .col-12
            h2.text-center Find Out How We Help Companies Succeed
            p.large.text-center.vhq-mb-md-60 Find Out How We Help Companies Succeed
        .row.card-deck.justify-content-center


          a.card.w-300(style='display: block; max-width: 300px; flex: none', href='/our-work/gravy')
            div.card-image-wrapper
              img.card-img-preview(src="https://ordergravy.com/wp-content/uploads/2019/07/phoneGRVY.png", style="background-image:url('https://ordergravy.com/wp-content/uploads/2019/07/phoneGRVY.png')")
            .card-body
              h6.card-title Gravy
                br
                small(style="text-transform: uppercase") Gravy, Inc.
              .card-text Gravy allows business owners to grow their business the right way by enabling online ordering directly from the web and mobile devices.  

          a.card.w-300(style='display: block; max-width: 300px; flex: none', href='/our-work/tmflow')
            div.card-image-wrapper
              img.card-img-preview(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Western-Mobile-ERP/Western-Main.png", style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Western-Mobile-ERP/Western-Main.png')")
            .card-body
              h6.card-title T&M Flow
                br
                small(style="text-transform: uppercase") G&E Software
              .card-text T&M Flow is a premier billing and data management system developed and approved for the property loss industry. It is designed to bill Time and Material, Rate and Material, Cost Plus and/or a combination of these methods to complete complex projects with ease! T&M Pro provides a complete and proven program to keep you bills Accurate, Consistent, and 100% Transparent.


          a.card.w-300(style='display: block; max-width: 300px; flex: none', href='/our-work/pocketpro')
            div.card-image-wrapper
              img.card-img-preview(src="https://is3-ssl.mzstatic.com/image/thumb/Purple113/v4/ad/e9/df/ade9df99-c462-1ce2-180f-34f04077d929/pr_source.jpg/230x0w.jpg", style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Western-Mobile-ERP/Western-Main.png')")
            .card-body
              h6.card-title PocketPro
                br
                small(style="text-transform: uppercase") PocketPro, LLC
              .card-text PocketPro ....

          a.card.w-300(style='display: block; max-width: 300px; flex: none', href='/our-work/clyn')
            div.card-image-wrapper
              img.card-img-preview(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Western-Mobile-ERP/Western-Main.png", style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Western-Mobile-ERP/Western-Main.png')")
            .card-body
              h6.card-title Clyn
                br
                small(style="text-transform: uppercase") Clyn App, LLC
              .card-text A mobile application that allows businesses to advertise and provide their services to consumers, while allowing consumeers to connect to cleaners, handymen, plumbers, landscapers and other home services near you.


          a.card.w-300(style='display: block; max-width: 300px; flex: none', href='/our-work/ninjatrader-signals-addon')
            div.card-image-wrapper
              img.card-img-preview(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Western-Mobile-ERP/Western-Main.png", style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Western-Mobile-ERP/Western-Main.png')")
            .card-body
              h6.card-title NinjaTrader Signals Addon
                br
                small(style="text-transform: uppercase") Undisclosed Client
              .card-text A NinjaTrader AddOn which allows day traders to easily identify the right time to make their investments based on current trends that are occuring in real-time using visual signals, allowing for not only a beautiful experience but a profitable experience too.     


          a.card.w-300(style='display: block; max-width: 300px; flex: none', href='/our-work/mobile-erp')
            div.card-image-wrapper
              img.card-img-preview(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Western-Mobile-ERP/Western-Main.png", style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Western-Mobile-ERP/Western-Main.png')")
            .card-body
              h6.card-title Mobile ERP
                br
                small(style="text-transform: uppercase") Western Windows Systems
              .card-text Western Window Systems produces high quality windows and doors for consumers and businesses alike. Their manufacturing process is unique and requires a different approach. We helped create that approach by creating a custom mobile ERP solution which encompassed their businesses needs and provided solutions for all departments. Their entire companies workflow is now capabile of being ran through a mobile application, creating high efficiency, transparancy, and increasing communication between departments.
              
          a.card.w-300(style='display: block; max-width: 300px; flex: none', href='/our-work/parts-badger')
            div.card-image-wrapper
              img.card-img-preview(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Parts-Badger/parts-badger.png", style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Parts-Badger/parts-badger.png')")
            .card-body
              h6.card-title Parts Badger - Instant Quote Calculator
                br
                small.card-title(style="text-transform: uppercase") PartsBadger
              .card-text PartsBadger machines your custom parts and offers great prices, instant quotes online, and fast delivery. We believe ordering custom parts ought to be simple, fast, and straightforward. When we designed and created their Instant Quote system, we began with the goal of making prices available right away. We know that getting a price on your part without having to wait allows their customers to move faster, which means their ideas move forward.
          a.card.w-300(style='display: block; max-width: 300px; flex: none', href='/our-work/rugged-video')
            div.card-image-wrapper
              img.card-img-preview(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Rugged-Video-Kiosk/transfers.png", style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Rugged-Video-Kiosk/transfers.png')")
            .card-body
              h6.card-title Rugged Video - Video Kiosk
                br
                small.card-title(style="text-transform: uppercase") Rugged Video
              .card-text As a provider of in-flight hardware, Rugged Video required a solution to delivery videos to their clients customers. We helped create a Kiosk application that lives on the tour companies computers and provides a toolkit to manage the media captured from the in-flight recorders and provides online access to each of their customers entire flight experience.
          a.card.w-300(style='display: block; max-width: 300px; flex: none', href='/our-work/coinoptions')
            div.card-image-wrapper
              img.card-img-preview(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/CoinOptions.png", style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/CoinOptions.png')")
            .card-body
              h6.card-title Cryptocurrency Wallet
                br
                small.card-title(style="text-transform: uppercase") CoinOptions
              .card-text As cryptocurrency gained ground, CoinOptions, a money service provider specialising in crypto required an application to help facilitate their services. We helped create a cross-platform mobile application allowing the storage, exchange, and transfer of the worlds top cryptocurrency such as Bitcoin, Litecoin, Ethereum, ERC20 tokens, and 100s of other currencies.

          a.card.w-300(style='display: block; max-width: 300px; flex: none', href='/our-work/real-estate-crm')
            div.card-image-wrapper
              img.card-img-preview(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Real-Estate-CRM.png", style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Real-Estate-CRM.png')")
            .card-body
              h6.card-title Real Estate Mobile CRM
                br
                small.card-title(style="text-transform: uppercase") Next Level Apps
              .card-text A iOS and Android mobile Customer Relationship Management designed specifically for the real estate market and realtors to help keep track of their homes, conversations, and help with their marketing needs.

          a.card.w-300(style='display: block; max-width: 300px; flex: none', href='/our-work/voice2pictures')
            div.card-image-wrapper
              img.card-img-preview(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Voice2Pictures.png", stylex="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Voice2Pictures.png')")
            .card-body
              h6.card-title Voice2Pictures
                br
                small.card-title(style="text-transform: uppercase") VOICE 2 PICTURES
              .card-text A mobile application built to attach easily attach voice tags to a picture for easy searching. With the built in voice search, you can easily access and find photos within your gallery, simply by using your voice.

          a.card.w-300(style='display: block; max-width: 300px; flex: none', href='/our-work/thyrodine')
            div.card-image-wrapper
              img.card-img-preview(style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/thyrodine.png')")
            .card-body
              h6.card-title Thyrodine
                br
                small.card-title(style="text-transform: uppercase") Nitek Medical
              .card-text The Thyrodine Iodide Quantitative Fluid Analyzer is an FDA approved instrument that precisely measures iodide concentrations in body fluids. The laboratory measurement can be used to measure iodine in body fluids for many physiological purposes and has significance depending on the application. The analyzer will very accurately report these parameters:
                ul
                  li Iodine in saliva as an indirect measurement of the interstitial iodine concentration level.
                  li Iodine in whole blood as an indirect measurement of the sodium/iodine symporter efficiency.
                  li Iodine in urine as an indicator of the body iodine sufficiency

          a.card.w-300(style='display: block; max-width: 300px; flex: none', href='/our-work/thyroflex')
            div.card-image-wrapper
              img.card-img-preview(style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/thyroflex.png')")
            .card-body
              h6.card-title Thyroflex
                br
                small.card-title(style="text-transform: uppercase") Nitek Medical
              .card-text The patented Thyroflex is a non-invasive state of the art system to test, diagnose, and manage thyroid conditions using reflexes and symptoms to accurately determine Thyroid function. It allows the practitioner to test the patient’s physiological functions, accurately evaluate the patient’s health status and assign treatment. It is estimated that 80% of the population has a thyroid disorder.

          a.card.w-300(style='display: block; max-width: 300px; flex: none', href='/our-work/lively-feed')
            div.card-image-wrapper
              img.card-img-preview(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/LivelyFeed/LivelyFeed-Footer.png", style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/LivelyFeed/LivelyFeed-Footer.png')")
            .card-body
              h6.card-title Lively Feed
                br
                small.card-title(style="text-transform: uppercase") Lively Feed
              .card-text n/a

          a.card.w-300(style='display: block; max-width: 300px; flex: none', href='/our-work/tree-to-tree-adventures')
            div.card-image-wrapper
              img.card-img-preview(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Tree-To-Tree-Adventures/Tree2TreePhone.png", style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Tree-To-Tree-Adventures/Tree2TreePhone.png')")
            .card-body
              h6.card-title Tree2Tree Adventures Website Redesign
                br
                small.card-title(style="text-transform: uppercase") Tree2Tree Adventures
              .card-text n/a





  include ../snippets/key-benefits.jade 
  include ../snippets/help-your-business.jade
  include ../includes/footer.jade
