include ../includes/heading.jade
body
  main
    header.bg-blue
      include ../includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12.text-center
            h1 Western Window Systems Mobile ERP Platform
            p.large.white.vhq-mb-40
              | Find out how Exquisite Software helped Western Window Systems
              ul.list-unstyled.text-center.white-text(style='color: white')
                li.badge.badge-tag.badge-white Microsoft .NET
                li.badge.badge-tag.badge-white Microsoft SQL Server
                li.badge.badge-tag.badge-white Azure Auto Scaling
                li.badge.badge-tag.badge-white Redis Caching Server
                li.badge.badge-tag.badge-white Google API Integration

    section.container
        h2.vhq-mb-40.vhq-mb-md-60.text-center Western Window Systems Mobile ERP Platform
        p.text-center Many software projects are prone to failure if not following a strict guideline. Planning itself does not necessarily lead to success, however, years of continual experience allow you to foresee many of the successes and risks of successful and failed projects, allowing for different companies and individuals to have different approaches, and insight into how a project is planned and how accurate the scope of the project is.
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.text-center
          .col-md-12.col-sm-12
            img.img-fluid(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Western-Mobile-ERP/Western-Main.png")
            
    
    section.bg-white
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row
          .col-md-8.col-sm-12
            h6 Western Mobile ERP
            p Many software projects are prone to failure if not following a strict guideline. Planning itself does not necessarily lead to success, however, years of continual experience allow you to foresee many of the successes and risks of successful and failed projects, allowing for different companies and individuals to have different approaches, and insight into how a project is planned and how accurate the scope of the project is.

          .col-md-4.col-sm-12
            h6 Services Completed
            ul.list-unstyled
              li.checkmark Project Management
              li.checkmark Development Consultation
              li.checkmark Software Development
              li.checkmark Web Development
              li.checkmark Mobile Application Development
    section
      div(style="background: url('https://westernwindowsystems.com/images/layerslider/volunteers/western-volunteers-v1.jpg'); height: 600px; background-size: cover")          
    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row
          .col-md-4.col-sm-12
            img.img-fluid(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Western-Mobile-ERP/20.png")
          .col-md-8.col-sm-12
            h4 Objectives
            p Many software projects are prone to failure if not following a strict guideline. Planning itself does not necessarily lead to success, however, years of continual experience allow you to foresee many of the successes and risks of successful and failed projects, allowing for different companies and individuals to have different approaches, and insight into how a project is planned and how accurate the scope of the project is.
    section.bg-white
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row
          .col-md-8.col-sm-12
            h4 Problems
            p Many software projects are prone to failure if not following a strict guideline. Planning itself does not necessarily lead to success, however, years of continual experience allow you to foresee many of the successes and risks of successful and failed projects, allowing for different companies and individuals to have different approaches, and insight into how a project is planned and how accurate the scope of the project is.
          .col-md-4.col-sm-12
            img.img-fluid(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Western-Mobile-ERP/17.png")
    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row
          .col-md-4.col-sm-12
            img.img-fluid(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Western-Mobile-ERP/20.png")
          .col-md-8.col-sm-12
            h4 Solutions
            p Many software projects are prone to failure if not following a strict guideline. Planning itself does not necessarily lead to success, however, years of continual experience allow you to foresee many of the successes and risks of successful and failed projects, allowing for different companies and individuals to have different approaches, and insight into how a project is planned and how accurate the scope of the project is.

        
    section.bg-white
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.text-center
          .col-md-12.col-sm-12.text-center
            h4 Have a project you need help with?
            a.btn.btn-outline-primary.text-center.vhq-ml-md-10(href="Contact Us") Contact Us
    section
      .container
        .row.text-center
          .col-12
            h2.text-center Other Projects
            p.large.text-center.vhq-mb-md-60
              | We have worked on many applications, check out some of our other work.
        .row.card-deck
          a.card(href='/services/software-development').mb-3.sm-noflex.card-30 
            .card-body.text-center
              .service-icon.service-icon-1
              h6.card-title Software Development
              .card-text Custom Enterprise Software designed to streamline and increase efficiency, productivity, and connectivity within your organizations operations.
          a.card(href='/services/software-development').mb-3.sm-noflex.card-30
            .card-body.text-center
              .service-icon.service-icon-2
              h6.card-title Mobile Development
              .card-text Develop applications that reach the entire market.
                | Exquisite Software creates native and cross-platform mobile applications for iOS, Windows Mobile and Android devices. 
          a.card(href='/services/mobile-development').mb-3.sm-noflex.card-30
            .card-body.text-center
              .service-icon.service-icon-3
              h6.card-title Web Development
              .card-text Tailored Business Dashboards, Web Applications, and Website Development tailored to fit your brand.
          a.card(href='/services/web-design-and-development').mb-3.sm-noflex.card-30
            .card-body.text-center
              .service-icon.service-icon-4
              h6.card-title UI & UX Design and Optimization
              .card-text User Experience Optimization and Design intended to increase engagement and productivity.
          a.card(href='/services/user-experience').mb-3.sm-noflex.card-30
            .card-body.text-center
              .service-icon.service-icon-5
              h6.card-title QA & Testing
              .card-text Your application’s health is critical and any problems with the usability may lead to the loss of end-users. 
          a.card(href='/services/quality-assurance').mb-3.sm-noflex.card-30
            .card-body.text-center
              .service-icon.service-icon-7
              h6.card-title DevOps
              .card-text A team at your fingertips, ensuring all critical points of your application are monitored and accessable.
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.text-center
          .col-md-12.col-sm-12
              a.btn.btn-outline-primary.vhq-ml-md-10(href="/resources/our-work") See All Projects

            
  include ../snippets/key-benefits.jade 
  include ../snippets/help-your-business.jade
  include ../includes/footer.jade