nav.navbar.navbar-expand-lg.justify-content-between.navbar-sticky.sticky.fixed
  a.navbar-brand(href='/')
    img(src='https://sfo2.digitaloceanspaces.com/exquisitesoftware/logo/white-logo.png', height='20')
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.active
        a.nav-link(href='/')
          | Home 
          span.sr-only (current)
        //- li.nav-item.dropdown
        //-   a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        //-     | Company
        //-   .dropdown-menu(aria-labelledby='navbarDropdown')
        //-     a.dropdown-item(href='/about-us') About Us
        //-     a.dropdown-item(href='/our-process') Our Process
        //-     a.dropdown-item(href='/our-team') Our Team
        //-     a.dropdown-item(href='/our-clients/') Our Clients
        //-     a.dropdown-item(href='/careers') Careers
        //-     a.dropdown-item(href='/partnerships/') Partnerships
        //-     a.dropdown-item(href='/investors/') Investors
          //- a.dropdown-item(href='/contact/') Contact Us
          //- a.dropdown-item(href='/why-exquisite#pricing-guarantee') Pricing Guarantee
          //- .dropdown-divider
          //- //- a.dropdown-item(href='/investors') Investors
          //- //- a.dropdown-item(href='/partnerships') Partnerships
          //- a.dropdown-item(href='/careers') Careers
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Company
        .dropdown-menu(aria-labelledby='navbarDropdown')
          .row.mt-20.mb-40
            .col-md-3
              h6 Company
              a.dropdown-item.left-blue-border(href='/why-exquisite/') 
                span.menu-header Learn about Exquisite Software
                span.menu-desc Let us help you gain the knowledge and insights necessary to succeed when building your next software project.
              a.dropdown-item.left-blue-border(href='/our-team/') 
                span.menu-header Meet Our Team
                span.menu-desc Let us help you gain the knowledge and insights necessary to succeed when building your next software project.
              a.dropdown-item.left-green-border(href='/investors/') 
                span.menu-header Investors
                span.menu-desc Help fund the success of the future. Multiple investment opportunities are available.
              a.dropdown-item.left-violet-border(href='/pricing-guarantee/') 
                span.menu-header The Exquisite Guarantee
                span.menu-desc Pricing Guarantee
            .col-md-3
              h6 Processes
              a.dropdown-item.left-blue-border(href='/our-process/') 
                span.menu-header Our Process
                span.menu-desc A roadmap for everything you need to successfully launch your application to market, and the necessary guidelines for managing your platform.
              a.dropdown-item.left-blue-border(href='/exquisite-design-plan/') 
                span.menu-header Roadmap Process
                span.menu-desc Project Planning, Mapping and Design
              a.dropdown-item.left-pvred-border(href='/exquisite-development-plan/') 
                span.menu-header Build Process
                span.menu-desc Software Development, User Testing, and DevOps
              a.dropdown-item.left-purple-border(href='/exquisite-launch-plan') 
                span.menu-header Launch Process
                span.menu-desc Learn, Support and Maintain
            .col-md-3
              h6 Frameworks
              a.dropdown-item.left-blue-border(href='/our-process/') 
                span.menu-header Exquisite Success Plan™ 
                span.menu-desc We've been able to craft a solid framework for success after 1,000 successful launches. 
              a.dropdown-item.left-blue-border(href='/exquisite-design-plan/') 
                span.menu-header Exquisite Design Plan™ 
                span.menu-desc Build applications that drive emotion and leave a long lasting impact.
              a.dropdown-item.left-pvred-border(href='/exquisite-development-plan/') 
                span.menu-header Exquisite Development Plan™ 
                span.menu-desc With over 13 years of development experience we've been able to deliver projects with satisification, and more importantly on-time and within budget. 
              a.dropdown-item.left-purple-border(href='/exquisite-launch-plan') 
                span.menu-header Exquisite Launch Plan™ 
                span.menu-desc We will share the secret we've used to market applications successfully after development and the strategies used to achive over 1 million app downloads.

            .col-md-3
              h6 Work With Exquisite
              a.dropdown-item.left-orange-border(href='/partnerships/')
                span.menu-header Partnerships
                span.menu-desc Let's find ways to work together.

              //- a.dropdown-item(href='/services/robotic-and-embedded') Robotic and Embeded Development
            //- a.dropdown-item(href='/services/augmented-reality') Augmented and Virtual Reality
            //- a.dropdown-item(href='/services/artificial-intelligence') Artificial Intelligence and Machine Learning
            //- a.dropdown-item(href='/services/big-data') Big Data and Data Science
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Services
        .dropdown-menu(aria-labelledby='navbarDropdown')
          .row.mt-20.mb-40
            .col-md-4
              h6 Consulting
              a.dropdown-item.left-blue-border(href='/services/development-consulting') 
                span.menu-header Development Consulting
                span.menu-desc Let us help you gain the knowledge and insights necessary to succeed when building your next software project.
              a.dropdown-item.left-blue-border(href='/services/project-management') 
                span.menu-header Project Management
                span.menu-desc Use the industries best project management professionals and teams to manage your next software project.

              h6 Development
              a.dropdown-item.left-blue-border(href='/services/software-development') 
                span.menu-header Enterprise Software Development
                span.menu-desc We build efficient and modern enterprise grade web and desktop applications.

              a.dropdown-item.left-blue-border(href='/services/mobile-development') 
                span.menu-header Mobile Application Development
                span.menu-desc Rapid Native and Crossplatform application development using Exquisite Development Plan™ 

              a.dropdown-item.left-blue-border(href='/services/web-design-and-development') 
                span.menu-header Web Design and Development
                span.menu-desc We build beautiful and modern websites that are optimized for wonderful experiences.

              a.dropdown-item.left-blue-border(href='/services/devops')
                span.menu-header Development Operations (DevOps)
                span.menu-desc Setup your development infastructure to operate with 24/7 availability.

              hr

              a.dropdown-item.left-blue-border(href='/instant-calculator') 
                span.menu-header Instant Development Quote
                span.menu-desc We create detail oriented test plans and setup the right processes for automation and manual testing by our test engineers. 
 
            .col-md-4
              h6 User Assurance Testing
              a.dropdown-item.left-blue-border(href='/services/quality-assurance') 
                span.menu-header Quality Assurance and Software Testing
                span.menu-desc We create detail oriented test plans and setup the right processes for automation and manual testing by our test engineers. 

              h6 Design
              a.dropdown-item.left-blue-border(href='/services/user-experience') 
                span.menu-header User Interface and Experience Design
                span.menu-desc High quality interface designs for web and mobile applications using the Exquisite Design Plan™.
              a.dropdown-item.left-blue-border(href='/services/user-experience') 
                span.menu-header User-Experience Optimization
                span.menu-desc Convert existing application workflow and experiences into a new remarkable experience that is unprecedented.
                
              h6 Marketing
              a.dropdown-item.left-blue-border(href='/services/online-marketing')
                span.menu-header Online Marketing & Advertising
                span Exquisite Launch Plan™ aims to grow your web and mobile applications using proven marketing strategies.
              a.dropdown-item.left-blue-border(href='/services/online-marketing')
                span.menu-header Search Engine Optimization (SEO)
                span.menu-desc Exquisite Web Optimization™ allows monthly growth over growth of traffic by optimizing your online presence.
               
              //- a.dropdown-item(href='/services/robotic-and-embedded') Robotic and Embeded Development
            //- a.dropdown-item(href='/services/augmented-reality') Augmented and Virtual Reality
            //- a.dropdown-item(href='/services/artificial-intelligence') Artificial Intelligence and Machine Learning
            //- a.dropdown-item(href='/services/big-data') Big Data and Data Science
      //- li.nav-item.dropdown
      //-   a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
      //-     | Solutions
      //-   .dropdown-menu(aria-labelledby='navbarDropdown')
      //-     .row.mt-20.mb-40
      //-       .col-md-4
      //-         h6 Consulting
      //-         a.dropdown-item(href='/services/development-consulting') 
      //-           span.menu-header Development Consulting
      //-           span Let us help you gain the knowledge and insights necessary to succeed when building your next software project.
      //-       .col-md-4
      //-         h6 Development
      //-         a.dropdown-item(href='/services/software-development') 
      //-           span.menu-header Enterprise Development
      //-           span tempor dolor fugiat minim ea nulla est ut duis ex.

      //-         a.dropdown-item(href='/services/mobile-development') 
      //-           span.menu-header Mobile Application Development
      //-           span tempor dolor fugiat minim ea nulla est ut duis ex.
      //-         a.dropdown-item(href='/services/web-design-and-development') 
      //-           span.menu-header Web Design and Development
      //-           span tempor dolor fugiat minim ea nulla est ut duis ex.
      //-       .col-md-4
      //-         h6 Design
      //-         a.dropdown-item(href='/services/user-experience') 
      //-           span.menu-header User Interface and Experience Design
      //-           span tempor dolor fugiat minim ea nulla est ut duis ex.
      //-         a.dropdown-item(href='/services/user-experience') 
      //-           span.menu-header User-Experience Optimization
      //-           span tempor dolor fugiat minim ea nulla est ut duis ex.
      //-         //- a.dropdown-item(href='/services/robotic-and-embedded') Robotic and Embeded Development
      //-       //- a.dropdown-item(href='/services/augmented-reality') Augmented and Virtual Reality
      //-       //- a.dropdown-item(href='/services/artificial-intelligence') Artificial Intelligence and Machine Learning
      //-       //- a.dropdown-item(href='/services/big-data') Big Data and Data Science
      li.nav-item
        a#navbarDropdown.nav-link(href='/our-work/')
          | Our Work
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          | Resources
        .dropdown-menu(aria-labelledby='navbarDropdown')
          .row.mb-40
            .col-md-4
              h6 Resources
              //- a.dropdown-item.hidden(href='/resources/white-papers') White Papers
              //- a.dropdown-item.hidden(href='/resources/press-releases') Press Releases
              //- a.dropdown-item(href='http://medium.exqsd.com/',target="_blank") Blog
              //- a.dropdown-item(href='http://www.youtube.com/exqsd1',target="_blank") Videos
              //- a.dropdown-item.hidden(href='/resources/') Resource Library  
              //- a.dropdown-item(href='/instant-calculator') Instant Pricing Calculator

              a.dropdown-item.left-blue-border(href='http://medium.exqsd.com/', target='_blank') 
                span.menu-header Blog
                span.menu-desc We create detail oriented test plans and setup the right processes for automation and manual testing by our test engineers. 
              a.dropdown-item.left-blue-border(href='/resources/white-papers') 
                span.menu-header Success Stories
                span.menu-desc We create detail oriented test plans and setup the right processes for automation and manual testing by our test engineers. 
              a.dropdown-item.left-blue-border(href='http://www.youtube.com/exquisitesoftware/', target='_blank') 
                span.menu-header Videos
                span.menu-desc We create detail oriented test plans and setup the right processes for automation and manual testing by our test engineers. 
              a.dropdown-item.left-blue-border(href='http://www.youtube.com/exquisitesoftware/', target='_blank') 
                span.menu-header Exquisite Academy™
                span.menu-desc We create detail oriented test plans and setup the right processes for automation and manual testing by our test engineers. 

      //li.nav-item.dropdown
        //a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
          //| Products
        //.dropdown-menu(aria-labelledby='navbarDropdown')
          //a.dropdown-item(href='#') AppKnowledge
          //a.dropdown-item(href='#') AppStatus
          //a.dropdown-item(href='#') AppCovered
          //a.dropdown-item(href='#') AppAuthenticate
      li.nav-item
        a.nav-link(href='/contact') Contact
      li.nav-item.btn.btn-white.btn-outline-calculator.my-2.my-sm-0.md-hide
        a(href='/instant-calculator') Instant Quote
      