doctype html
html
  head
    title #{title} - Custom Enterprise, Mobile, and Web Application Developments
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(property='og:title', content='Custom Software Development & Marketing Services - Exquisite Software')
    meta(property='og:description', content='Exquisite Software - Software, Web, and Mobile Development')
    meta(property='og:url', content='http://www.exqsd.com/')
    meta(property='fb:app_id', content='1857026651191173')
    meta(property='og:type', content='website')
    meta(property='og:image', content='https://sfo2.digitaloceanspaces.com/exquisitesoftware/logo/logo.png')
    meta(property='og:image', content='http://www.exqsd.com/img/logo/Logo-800x800-Block.png')
    meta(property='og:site_name', content='Exquisite Software') 
    meta(name='keywords', content='custom software application development marketing branding experience ux web design mobile osx android java c# javascript php python ruby node')
    meta(name='description', content='Exquisite Software - Software, Web, and Mobile Development')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name="theme-color", content="#317EFB")
    
    link(rel='icon', type='image/png', sizes='32x32', href='https://sfo2.digitaloceanspaces.com/exquisitesoftware/images/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='https://sfo2.digitaloceanspaces.com/exquisitesoftware/images/favicon-16x16.png')

    link(rel="preconnect" href="https://connect.facebook.net")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/alertify/alertify.min.css')
    link(rel='stylesheet', href='/css/alertify/themes/default.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='https://kenwheeler.github.io/slick/slick/slick.css')
    link(rel='stylesheet', href='https://kenwheeler.github.io/slick/slick/slick-theme.css')
    link(rel='stylesheet', href='https://sachinchoolur.github.io/lightgallery.js/lightgallery/css/lightgallery.css')
    link(rel='stylesheet', href='/css/jquery-attachments.min.css')
    link(rel='stylesheet', href='//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    
    // Clickcease.com tracking
    script(type='text/javascript').
      var script = document.createElement('script');
      script.async = true; script.type = 'text/javascript';
      var target = 'https://www.clickcease.com/monitor/stat.js';
      script.src = target;var elem = document.head;elem.appendChild(script);
    noscript
      a(href='https://www.clickcease.com' rel='nofollow')
        img(src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease')


    script(type='text/javascript').
     adroll_adv_id = "GT3VRTY2JVDUPJKFEU76AX";
     adroll_pix_id = "S5BIHG5ZXJCNXA5Z5UYZAX";
     adroll_version = "2.0";
     (function(w, d, e, o, a) {
     w.__adroll_loaded = true;
     w.adroll = w.adroll || [];
     w.adroll.f = [ 'setProperties', 'identify', 'track' ];
     var roundtripUrl = "https://s.adroll.com/j/" + adroll_adv_id
     + "/roundtrip.js";
     for (a = 0; a < w.adroll.f.length; a++) {
     w.adroll[w.adroll.f[a]] = w.adroll[w.adroll.f[a]] || (function(n) {
     return function() {
     w.adroll.push([ n, arguments ])
     }
     })(w.adroll.f[a])
     }
     e = d.createElement('script');
     o = d.getElementsByTagName('script')[0];
     e.async = 1;
     e.src = roundtripUrl;
     o.parentNode.insertBefore(e, o);
     })(window, document);
     adroll.track("pageView");
