include ../includes/heading.jade
body
  main
    header.bg-cover
      include ../includes/header.jade
      .container
        .row.heading.align-middle
          .col-xs-12.col-md-11.col-lg-8
            h1 Frequently Asked Questions
            p.large.white
              | We are here to help answer any of your questions.
  section(style="background: #f1f1f7;")
    .container
      .row.card-deck
        a.card(href='/services/software-development').mb-3.sm-noflex.card-30 
          .card-body.text-center
            h6.card-title How much does an application cost to develop?
            .card-text Applications range from small utilities that can be developed for under $1,500.00 to complex, multi-year projects upwards of $250,000.00 or more. An average Minimal Viable Product. (MVP) will cost approximately $50,000.00 and take 3 months to complete.
        a.card(href='/services/software-development').mb-3.sm-noflex.card-30 
          .card-body.text-center
            h6.card-title What is an MVP?
            .card-text A MVP is a minimal viable product, which allows your product to get to market within the shortest possible time frame, providing the highest priority features to your end users, learning from your users needs, and continually adapting new features through additional iterations.

        a.card(href='/services/software-development').mb-3.sm-noflex.card-30 
          .card-body.text-center
            h6.card-title What is the average turnaround time to develop an application?
            .card-text On average we are able to deliver a working MVP in under 3 months, and a full production application in under 7 months.

        a.card(href='/services/software-development').mb-3.sm-noflex.card-30 
          .card-body.text-center
            h6.card-title What happens if there are bugs in the software?
            .card-text 
              p We stand by our code and our clients. If a problem exists that our team introduced then we will happily correct the issue without any additional expense.
              br
              p If the problem exists due to lack of clarity within the requirements, then unfortunately, we must issue another Task Order to correct the issue.

        a.card(href='/services/software-development').mb-3.sm-noflex.card-30 
          .card-body.text-center
            h6.card-title What is a Software Requirements Specification, and why do I need one? 
            .card-text 
              p A software requirement specification allows both Exquisite Software and our clients to know exactly how to design the product.  It outlines the general use and requirements that are needed for the application.
              p The Specification allows us to focus on what is needed, instead of packing the software full of features that are rarely used. This allows the accuracy of the final product and ensures we are always on the same page, and that the application conforms to the specifications and more importantly, our clients needs.

        a.card(href='/services/software-development').mb-3.sm-noflex.card-30 
          .card-body.text-center
            h6.card-title How do I get a status update on my project?
            .card-text 
              p Every week a status report will be sent by email, displaying the status of each task, time involved into each task, and any risks that we might be facing with delivery of the project according to schedule. 

        a.card(href='/services/software-development').mb-3.sm-noflex.card-30 
          .card-body.text-center
            h6.card-title What is scope creep?
            .card-text 
              p Scope creep occurs when details of a project have not been clearly defined from the start of the projects life cycle. To avoid scope creep we require each application has a Software Requirements Specification created and approved before development begins. 

