include ../includes/heading.jade
body
  main
    header.bg-blue
      include ../includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Press Releases
            p.large.white
              | Find out how Exquisite has helped other businesses create and implement solid technology and software strategies.
    section.bg-light.vhq-pt-40.vhq-pt-md-80
      .container
        h1.vhq-mb-40.vhq-mb-md-60.text-center Press Releases
        p.vhq-mb-40.vhq-mb-md-60.text-center We are sorry, but no Press Releases have been published.

  include ../snippets/key-benefits.jade 
  include ../snippets/help-your-business.jade
  include ../includes/footer.jade