include ./includes/heading.jade
body
  main
    header.bg-blue
      include ./includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Big Data and Data Sciences
            p.large.white
              | Find out how Exquisite has helped other businesses create and implement solid technology and software strategies.
    section.bg-light.vhq-pt-40.vhq-pt-md-80
      .container
        h1.vhq-mb-40.vhq-mb-md-60.text-center This page is incomplete.
        p.vhq-mb-40.vhq-mb-md-60.text-center This page has not yet been complete. We are working on it, our engineers have been notified that this page is in demand.

        img.img-fluid(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/why-exquisite.png",  alt="How can Exquisite help you?")
        
  include ./snippets/key-benefits.jade 
  include ./snippets/help-your-business.jade
  include ./includes/footer.jade