section.container.bg-light
  .row
    .col-md-12
      ul.clients.list-unstylied.list-inline
        li.list-inline-item
          img.img-fluid(src='https://www.exqsd.com/img/client-logos/twilio-logo-red-fs8.png')
        li.list-inline-item
          img.img-fluid(src='https://www.exqsd.com/img/client-logos/pizzahut-fs8.png')
        li.list-inline-item
          img.img-fluid(src='https://www.exqsd.com/img/client-logos/crbard-fs8.png')
        li.list-inline-item
          img.img-fluid(src='https://www.exqsd.com/img/client-logos/partsbadger-logo-fs8.png')
        li.list-inline-item
          img.img-fluid(src='https://www.exqsd.com/img/client-logos/xplatinum-remax-living-logo-fs8.png.pagespeed.ic._B5aO7zku3.webp')
        li.list-inline-item
          img.img-fluid(src='https://www.exqsd.com/img/client-logos/western-fs8.png')
        li.list-inline-item
          img.img-fluid(src='https://www.exqsd.com/img/client-logos/solar-innovations-logo-fs8.png')