include ../includes/heading.jade
body
  main
    header.bg-blue
      include ../includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Case Studies
            p.large.white
              | Find out how Exquisite has helped other businesses create and implement solid technology and software strategies.
    section
      .container
        .row
          .col-md-12 
            h1.vhq-mb-40.vhq-mb-md-60.center-text.text-center Find Out How We Help Companies Succeed
            
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center
          .col-12.col-sm-12.text-center
            img.vhq-mb-40.img-fluid(src="https://t4.ftcdn.net/jpg/01/00/54/81/240_F_100548116_KdpwRKuwM2Gf2PtCXGltveKNCII52cID.jpg")
            h5 The content for this page is coming soon.
            p The content for this page is coming soon.
      
  include ../snippets/key-benefits.jade 
  include ../snippets/help-your-business.jade
  include ../includes/footer.jade