include ./includes/heading.jade
body
  main
    header.bg-blue-9
      include ./includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Contact Us
            p.large.white We are here to help. Our support teams are here to help.
    
    section.vhq-pt-40.vhq-pt-md-80.container
      .container.text-center

        .row
          .col-md-12 
            h1.vhq-mb-40.vhq-mb-md-60 Hello. How can we help you?

        .row.gutter-narrow.justify-contents-center.align-items-stretch.text-center
          .col-12.col-md.vhq-mb-20.d-flex
            .bg-delight-green-medium.vhq-p-30.vhq-p-sm-70
              p.h3.text-center I'm a new client
              p.vhq-mb-40.vhq-pl-lg-20.vhq-pr-lg-20
                | Want to learn how we could help grow your business? Our team of software development specialists are available to discuss your business needs and answer any questions.
              .row.gutter-md-narrow
                .col-xl-12.vhq-mb-10.vhq-mb-40
                  a.vhq-mb-40(href='tel:+1-888-315-1342', style='position: relative;')
                    | Call (888) 315-1342 to speak with sales.
          .col-12.col-md.vhq-mb-20.d-flex
            .bg-delight-blue-medium.vhq-p-30.vhq-p-sm-70
              p.h3 I'm an existing customer
              p.vhq-mb-40.vhq-pl-lg-20.vhq-pr-lg-20
                | If you need feature upgrades, status updates, or are experiencing product issues, not to worry, 24/7 global customer support is ready to help, wherever you are, with whatever you need.
              a.btn.btn-secondary(href='https://support.exqsd.com/', target='_blank', rel='noopener') Contact Support

            
    section#contact-sales-form.vhq-pt-20.bg-white
      .container
        .row.align-items-start
          .col-12.col-lg-8.vhq-mt-40.vhq-mt-lg-70.vhq-pl-lg-40.js-form-container
            #formDiv(style='display: block;')
              .justify-contents-center.align-items-stretch.text-center.success-message(style='display: none')
                .bg-delight-gray-medium.vhq-p-30.vhq-p-sm-70
                  p.h3.text-center Thank you for contacting us!
                  p.vhq-mb-40.vhq-pl-lg-20.vhq-pr-lg-20
                    | We will be in touch as soon as we can. If this is an urgent matter, please don't hesistate to contact us by phone.
                  a.btn.btn-outline-primary.vhq-pl-35.phone-icon-button(href='tel:+1-888-315-1342', style='position: relative;')
                        | Call (888) 315-1342
                        
              form#request-for-quote.rfq.form(method='POST', action='/contact/', _lpchecked='1')
                .row
                  .col-md-12
                    h3.text-center Let us know how we can help.
                    p.vhq-pb-15
                      | Our team of design, development, and testing experts is here to lend a helping hand and answer any of your questions. Request a expert contact you to learn how Exquisite can help your business.
                  .form-group.col-xs-12.col-sm-12
                    h6 Full Name
                    input#full_name.form-control(type='text', name='full_name', placeholder='Full Name', data-validation='required', required='required', style='background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg=="); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;')
                  .form-group.col-xs-12.col-sm-12
                    h6 Email Address
                    input#email_address.form-control(type='email', name='email', data-validation='email', placeholder='Email Address', required='required')
                  .form-group.col-xs-12.col-sm-12
                    h6 Phone Number
                    input#phone_number.form-control(type='text', name='phone_number', placeholder='Phone Number', required='required', maxlength='14')
                  .form-group.col-xs-12.col-sm-12
                    h6 What best describes the reason you're contact us?
                    select.form-control(id='contact_reason','name'="reason")
                      option(value='General') General
                      option(value='Support') Support
                      option(value='Request For Quote') Request a Quote
                      option(value='Partnbership Request') Partnership Request
                  .form-group.col-xs-12.col-sm-12.project-details(id='timeframe', style='display: none')
                    h6 What is your timeframe for starting this application?
                    select#budget.form-control(name='timeframe', required=true)
                      option(disabled selected) -- select a timeframe --
                      option(value='Within the next month.') Within the next month.
                      option(value='Within the next 3 months.') Within the next 3 months
                      option(value='Within the next 6 months.') Within the next 6 months
                      option(value='Within the next 12 months.') Within the next 12 months.
                      option(value='No planned date') No planned date.

                  .form-group.col-xs-12.col-sm-12.project-details(id='budget', style='display: none')
                    h6 What is your budget for this project?
                    select#budget.form-control(name='budget', required=true)
                      option(disabled selected) -- select a budget --
                      option(value='Under $10,000') Under $10,000
                      option(value='$10,000 to $25,000') $10,000 - $25,000
                      option(value='$25,000 - $50,000') $25,000 - $50,000
                      option(value='$50,000 - $100,000') $50,000 - $100,000
                      option(value='$100,000 - $250,000') $100,000 - $250,000
                      option(value='$250,000 - $500,000') $250,000 - $500,000
                      option(value='$500,000+') $500,000+
                      option(value='Budget Not Yet Determined') Budget Not Yet Determined

                  .form-group.col-xs-12.col-sm-12.project-details(id='budget', style='display: none')
                    h6 What type of application are you requiring?
                    ul.list-unstyled.ul-mc.h100p
                      li 
                        input(id="web" name="services[]" type='checkbox' value='Web Application' style="margin: 5px 5px 0px 0px;") 
                        label(for="web")  Web Application
                      li 
                        input(id="mobile" name="services[]"  type='checkbox' value='Mobile Application' style="margin: 5px 5px 0px 0px;") 
                        label(for="mobile")  Mobile Application
                      li 
                        input(id="enterprise" name="services[]"  type='checkbox' value='Enterprise Application' style="margin: 5px 5px 0px 0px;") 
                        label(for="enterprise")  Enterprise Application
                      li 
                        input(id="ux" name="services[]"  type='checkbox' value='UI Design and/or UI Optimization' style="margin: 5px 5px 0px 0px;") 
                        label(for="ux")  UI/UX Design and Optimization
                      li 
                        input(id="consulting" name="services[]"  type='checkbox' value='Development Consultation' style="margin: 5px 5px 0px 0px;") 
                        label(for="consulting")  Development Consulting
                      li 
                        input(id="qa" name="services[]"  type='checkbox' value='Quality Assurance & Software Testing' style="margin: 5px 5px 0px 0px;", required=true) 
                        label(for="qa")  Quality Assurance and Software Testing 

                  .form-group.col-xs-12.col-sm-12
                    h6 Please provide a short message along with your inquery.
                    textarea(name="message").form-control(rows=14)
                  .form-group.col-xs-12.col-sm-12
                    button.btn.btn-outline-success.contact-submit.btn-block.text-center(type='button', style='padding: 15px 15px; margin-bottom: 10px;', data-badge="inline" ) Send Message
                    p.small.center.vhq-p-0.vhq-mb-20.js-form-footer
                      | You agree to be contacted by Exquisite Software and it's associates for sales, marketing and advertising reasons, by providing your information you agree to our 
                      a.p-0(href='/terms-of-service', target='_blank', rel='noopener') Terms of Service 
                      | and our 
                      a.p-0(href='/privacy-policy', target='_blank', rel='noopener') Privacy Policy. 
                    p.small.center.vhq-p-0.vhq-mb-20.js-form-footer
                      | This site is protected by reCAPTCHA and the Google 
                      a(href="https://policies.google.com/privacy") Privacy Policy 
                      | and 
                      a(href="https://policies.google.com/terms") Terms of Service 
                      |&nbsp;apply
                      | .
          .col-12.col-lg-4
            img.img-fluid.vhq-mb-20(src='https://t4.ftcdn.net/jpg/00/88/76/59/240_F_88765943_UUPzU7bGxmstMzG2rBtr3lloTpdqAoVV.jpg', alt='Talk to us at Exquisite')
            h5 Scottsdale Office
            p 7802 E Gray Road, Suite 500
              br 
              | Scottsdale, AZ 85260
            h6 Sales & Support
            <a href="tel:18883151342">1-888-315-1342</a><br/>
            <a href="contact@exqsd.com">contact@exqsd.com</a>
            
  #gmap_canvas(style='height:800px;')
include ./includes/footer.jade
script $('#contact_reason').on('change', function(e) {
  | value = $('#contact_reason').val();
  | console.log('new item selected ', value); 
  | if(value == "Request For Quote") {
  |  $('.project-details').show();
  | } else {
  |  $('.project-details').hide();
  | }
  | });

script var recaptcha_token = '';
script $('button.contact-submit').click(function() 
  | { 
  | $("form").validate({
  | rules: {
  | full_name: {
  | required: true,
  | minlength: 8
  | },
  | email: {
  | email: true,
  | required: true,
  | minlength: 10
  | },
  | phone_number: {
  | required: true,
  | minlength: 10
  | },
  | message: {
  | required: true,
  | minlength: 10
  | }
  | },
  | messages: {
  | email: {
  | required: "We need your email address to contact you.",
  | minlength: jQuery.validator.format("At least {0} characters required!")
  | },
  | full_name: {
  | required: "Please provide your full name.",
  | minlength: jQuery.validator.format("At least {0} characters required!")
  | },
  | phone_number: {
  | required: "We need your phone number to contact you.",
  | minlength: jQuery.validator.format("At least {0} characters required!")
  | },
  | message: {
  | required: "Please provide a message to send us.",
  | minlength: jQuery.validator.format("At least {0} characters required!")
  | }
  | }
  | });
  | valid = $("form#request-for-quote").valid();
  |   if(valid) {
  |     form = $('#request-for-quote').serializeArray();
  |     form.push({name:'recaptcha_token', value: recaptcha_token}); 
  |     form = JSON.stringify( form );
  |     $.ajax({
  |        type: "POST",
  |        url: "/contact",
  |        contentType: "application/json; charset=utf-8",
  |        data: form,
  |        dataType: 'json',
  |        success: function(data) {
  |          console.log(data);
  |          if(data.success) {
  |            $('#request-for-quote').hide()
  |            $('.success-message').show();
  //|            $('.success-message', window.parent.document).get(0)?.scrollIntoView();
  |            $("form#request-for-quote :input").prop("disabled", true);
  |          }
  |        }
  |      });
  |   }
  | });


script(src='https://www.google.com/recaptcha/api.js?render=6LdyF40UAAAAACB3W0KvXAhEBoAuZK5FWQiXrk6U')
script.
  grecaptcha.ready(function() {
  grecaptcha.execute('6LdyF40UAAAAACB3W0KvXAhEBoAuZK5FWQiXrk6U', {action: 'homepage'}).then(function(token) {
    //console.log('recaptcha token: '+token);
    recaptcha_token = token;
  });
  });

script
  | function getFormData($form){
  | var unindexed_array = $form.serializeArray();
  | var indexed_array = {};
  | $.map(unindexed_array, function(n, i){
  | indexed_array[n['name']] = n['value'];
  | });
  | return indexed_array;
  | }

if posted
  script $('.success-message').show();
    | $('.success-message', window.parent.document).get(0)?.scrollIntoView();
  
style .grecaptcha-badge { display: none;} .error { color: red; font-weight: 600; } input.error,textarea.error { border: 2px solid red}
