include ./includes/heading.jade
body
  main
    header.bg-blue-planning
      include ./includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Software Development & Technology Consultation
            p.large.white.mb-60 Find out how Exquisite has helped other businesses create and implement solid technology and software strategies.

    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center
          .col-md-12.col-sm-12.text-center
            img.text-center.img-section.img-fluid.mb-20(src="/img/consulting-banner.png")
            h2 Get the jump start your project deserves.
            p.mb-60 Having an experienced partner to help guide you with design, infastructure, user-experience, and risks can be the difference in success and failure. Our team has seen it all and is here to help ensure you're moving forward in the right direction from the start.  

        
    section.bg-white
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center
          .col-md-12.col-sm-12
            h5.mb-60 Design, develop, and deploy your application with the highest success.
            p Many software projects are prone to failure if not following a strict guideline. Planning itself does not necessarily lead to success, however, years of continual experience allow you to foresee many of the successes and risks of successful and failed projects, allowing for different companies and individuals to have different approaches, and insight into how a project is planned and how accurate the scope of the project is.
            p As onshore developers we are native in English, communication can be done easily and effectively. As requirements are extremely complex and custom to each specific function, communication is extremely important before the project begins. Many companies have thought that offshore development would reduce their cost to market, only to realize that the project is not on the proposed track and are faced with the risks of a failing project. By using an onshore development company, the communication will be clear, and the status of your project will always be transparent and available.
            p.mb-60 We will learn your companies overall objectives, the problems you're facing, the solutions you have thought of, and will suggestion new solutions. We will work with you to create the ideal application, scope, and find the best route to ensure your project will be developed successfully.
    section.bg-light
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.bg-gray(xstyle='background: #f1f1f1;')
          .col-md-6.col-sm-12
            .card.card-w100p 
              .card-body
                h5 Why do you need a specification?
                ul.list-unstyled
                  li.checkmark Ensure all development requirements are clearly defined before the start of the project. 
                  li.checkmark Ensure both client and developers have set aside time on each milestone date to discuss the projects up coming tasks, receive feedback, learn about risks, and present the overall project status.
                  li.checkmark Ensure all deliverable are clearly defined and specified to your exact requirements.

          .col-md-6.col-sm-12
            .card.card-w100p 
              .card-body
                h5 What do you get?
                ul.list-unstyled
                  li.checkmark Architecture, Scaling and Architecture Costs
                  li.checkmark Learn the Best Practices for Implementation
                  li.checkmark Graphical User Interface Design
                  li.checkmark Functioning Adobe XD Prototype
                  li.checkmark Design Specification Document
                  li.checkmark Software Requirements Specification Document
                  li.checkmark Technical team at your finger tips to find the answers to your questions.

  section.bg-white        
    include ./snippets/key-benefits.jade 

  section
    include ./snippets/help-your-business.jade

  include ./includes/footer.jade