include ./includes/heading.jade
body
  main
    header.bg-blue-9
      include ./includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Development Operations (DevOps)
            p.large.white Have a team managing your product full time. Ensure your product remains maintained, progressing, supported, and more importantly online and functioning.

    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse.text-center.reveal-fade-in
          .col-12.col-sm-11.col-lg-12.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            img.reveal-fade-in.top-image.img-responsive(src='/img/illustrations/undraw_in_progress_ql66.svg')
            h2 Monitoring, Development, and Support
            p.large.mb-60 
              | The success of modern business operations depends on efficiencies. Companies utilizing the greatest technologies to empower their businesses with automation and digitalization are continuaing to change and set new industry standards. Development Operations (DevOps) services are key to ensuring reliable software and providing timely fixes and modifications directly to your users.
              //- | The The cloud has allowed for speed, agility, and greater effiency within the deployment of your products and allows for a high advantage over legacy applications and accelerates time to market.  These practices can enhance software performance, reduce bugs, and allow for an iterative approach where you learn directly from your users on what they want, and what they don't. DevOps services let businesses leaters quickly and innovatively deliver software to their loyal and demanding clients.
              //- | The infastructure that your application is built is key to your businesses success. The reliable operation of your application to your business and users and allows your technology to continue to evolve for the needs of tomorrow. Exquisite Software continually keeps up with the needs of modern practices and the best tools on the market to provide you with the most advanced and efficient development services.
        .row.gutter-xs-none.gutter-md-wide
          .col-4.col-sm-4.vhq-mb-md-60
            h5 Goals
            p Our expert DevOps team creates the security of a dedicated development team on standby for the critical moments to ensure your applications success. 
            p We use the industries most comprehensive tools to ensure that your platform is continually monitored, and the right processes are followed to ensure the stability and security of yours and your customers assets.
          .col-4.col-sm-4.vhq-mb-md-60
            h5 Development
            p Our teams focus on rapid development, achieved through agile methodologies and competative processes, and with our industry leading knowledge in automation, fault tolerant, high-load, and security, you can relax knowing that your platform will have continual up-time.
          .col-4.col-sm-4.vhq-mb-md-60
            h5 Support
            p Our support teams are continually available to ensure that your customers and employees have the technical support from our teams about any application issues.
        
        //- .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse.text-center.reveal-fade-in
        //-   .col-12.col-sm-11.col-lg-12.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
        //-     h2 Our Model For Success
        //-     p.large.mb-60 
        //-       | After years of experience designing, developing, testing, and releasing products, we've came up with a solid framework that allows for the success of your project.

        //-       //- | The The cloud has allowed for speed, agility, and greater effiency within the deployment of your products and allows for a high advantage over legacy applications and accelerates time to market.  These practices can enhance software performance, reduce bugs, and allow for an iterative approach where you learn directly from your users on what they want, and what they don't. DevOps services let businesses leaters quickly and innovatively deliver software to their loyal and demanding clients.
        //-       //- | The infastructure that your application is built is key to your businesses success. The reliable operation of your application to your business and users and allows your technology to continue to evolve for the needs of tomorrow. Exquisite Software continually keeps up with the needs of modern practices and the best tools on the market to provide you with the most advanced and efficient development services.
        .row.gutter-xs-none.gutter-md-wide
          .col-4.col-sm-4.vhq-mb-md-60
            h5 Setup
            p We will implement world leading bug and performance montoring frameworks into your software. 
            p We will setup your development infastructure to implement continious integration (CI) and the key processes to ensure environment stability and security. 
          .col-4.col-sm-4.vhq-mb-md-60
            h5 Security
            p During our continious integration (CI) processes we complete multiple security check on your source code such as sensitive data, end-point protocols, and for any security risks within the code itself.
          //- .col-4.col-sm-4.vhq-mb-md-60
          //-   h5 Support
          //-   p In addition to monitoring, we setup a support desk to allow for your customers and employees to provide feedback or issues through a customer portal.



    section.bg-light
      .container
        .row.gutter-xs-none.gutter-md-wide.align-items-center.justify-content-center.flex-row-reverse
          h2 Technologies that support or mission
          .col-12.col-sm-12.col-lg-12.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            .inline-container
              .inline-item
                img(src="/img/down-sample/cloud-technologies/2000px-AmazonWebservices_Logo.svg.png" class="img-logo") 
              .inline-item
                img(src="/img/down-sample/cloud-technologies/googlecloudplatform-logo-1.png" class="img-logo") 
              .inline-item
                img(src="/img/down-sample/cloud-technologies/microsoft_azure_600x240.png" class="img-logo") 
              .inline-item
                img(src="/img/down-sample/cloud-technologies/vagrant.png" class="img-logo" alt="Vagrant") 
              .inline-item
                img(src="/img/down-sample/cloud-technologies/kubernetes-horizontal-color.png" class="img-logo" alt="Kubernetes") 
              .inline-item
                img(src="/img/down-sample/cloud-technologies/Docker-Logo.png" class="img-logo" alt="Docker") 
               
section.bg-white
  include ./snippets/key-benefits.jade 
section.bg-light
  include ./snippets/help-your-business.jade
  
include ./includes/footer.jade