include ./includes/heading.jade
body
  main
    header.bg-blue
      include ./includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Investment Opportunities
            p.large.white
              | Exquisite Software opens the opportunity for investors to help fund our business and the business of others.
    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse.text-center.reveal-fade-in
          .col-12.col-sm-11.col-lg-12.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            h2 Shape the future with us.
            p.large.mb-60 
              | Exquisite Software has multiple opportunities for investing your capital. We have short term and long term opportunities available, from helping fund our business, to helping fund the businesses of the smartest, and the highest qualifying startups. 
              | We bring the best opportunities in a highly demanded industry and look to work with likeminded investors who love working with startups and helping pave the way for the companies success and the future of our world.
          
    section.bg-light
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse.text-center.reveal-fade-in
          .col-12.col-sm-11.col-lg-12.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            h2 Fund Projects & Get Huge Returns.
            p.large.mb-60 
              | Exquisite Accelerated Funding™ allows startup's the opportunity to turn ideas into we'll funded businesses.
              | Successful products include more than just development, and we help our clients create successful business, development, and marketing plans, based around technology and their platform. 
          .col-12.reveal-fade-in
              img.top-image.img-responsive(src='/img/illustrations/undraw_development_ouy3.svg')
          
        .row
          .col-md-4
            | We implement the same strategies that have lead to the successful deployment of over 1 million application downloads worldwide and revenues in excess of $10,000,000.
          .col-md-4
            | Our funding network allows for the most qualified businesses to gain capital and get the funding required to successfully plan, design, develop and market each project, as well as manage the platform as a full-time business.
          .col-md-4
            | Investors have access to participate in funding newly established startups and gain equity or by becoming a lender to the business. 

    section 
      .container   
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.text-center.reveal-fade-in
            .col-md-6
              h5 Equity Based Financing
              p The highest qualifying startups offer 1%-10% equity stake on average. 
            .col-md-6
              h5 Capital Based Financing
              p Loan your money to newly established businesses and get a 5-8% annual return per year.
          
  include ./snippets/help-your-business.jade
  include ./includes/footer.jade