include ./includes/heading.jade
body
  main
    header.bg-blue-2
      include ./includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Mobile application development to increase efficiency, portability, and reach.
            p.large.white
              | Native and Cross-platform applications for Android, iOS, and Windows Mobile.
            //- p Exquisite Software creates native and cross-platform mobile applications for iOS, Windows Mobile and Android devices. Mobile applications are an extremely valuable asset to your businesses infrastructure, and allow you to have a greater reach and impact on your potential user market and internal infrastructures.
            
    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center
          .col-12.col-sm-12.col-lg-12.text-center
            img.text-center.img-section.img-fluid.mb-20(src="/img/mobile-development-banner.png")
            h2 Exquisite Software help's you create applications that reach the entire market.
            p.mb-60 Begin increasing efficiency in your business by developing custom mobile applications which allow real-time access to information and required functionality from any location in the world. Our skilled specialists know the game of business and deliver successful solutions that accord with all the specified requirements while invariably staying within time and budget limits.
          
    section.bg-light
      .container
        .row.gutter-xs-none.vhq-info-row.text-center
          .col-12.col-sm-12.col-lg-12
            h5 Many Programming Languages and Frameworks for Mobile Development
            p.mb-60.large If its new or existing development, we can help, and oblige your code preference.
            .flex-container
              .flex-item
                img.img-logo(src="/img/mobile-development/java-logo.png")
              .flex-item
                img.img-logo(src="/img/mobile-development/swift-logo.png")
              .flex-item
                img.img-logo(src="/img/mobile-development/xamarin-logo.png")
              .flex-item
                img.img-logo(src="/img/mobile-development/react-native.png")
              .flex-item 
                img.img-logo(src="/img/mobile-development/kotlin-logo.png")
                

    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center
          .col-12.col-sm-12.col-lg-6
            h5 Native Applications
            p
              | Exquisite Software understands that your business requires a beautiful online forefront for showcasing your brand. Beginning with the look-and-feel, our designers create a beautiful, hand-crafted web-design tailored your business. Our team ensures by encompassing a number of layouts to ensure your site remains clearly readable on all devices and screen sizes for an optimum experience that your businesses deserves.
            h5 Lower Development Costs
            p
              | Exquisite Software’s first-class web developers construct enterprise-class applications with performance in mind, wither integrations, extensions, or new platforms, our team of expert developers come with a deep understanding of today’s technologies, enabling us to provide solutions to the different needs of many markets. The ability to readily build or implement technologies into both new and existing projects allows for a single team to handle all your new and existing development needs.
  
          .col-12.col-sm-12.col-lg-6.vhq-picture-column.reveal-fade-in(data-sr-id='1', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            img.img-fluid(src='https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/MobileApps2.png', alt='Mobile applications that reach the entire market')

        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse
          .col-12.col-sm-11.col-lg-6
            h5 User Experience and Interface Design that evokes emotion.
            h6 Intuitive Designs
            p
              | We take the necessary time to render intuitive user experiences that feel natural. When we design websites and systems, our goal is to exceed your expectations by maximizing ease and efficiency of interaction and experience.
            h6 In-Depth Design Process
            p
              | Our designers ensure quality from concept to presentation by encompass a strict process which undergoes quality assurance at every stage, allowing for a client experience that cannot be matched.
            p
              a(href="https://www.exqsd.com/services/user-experience") Learn more about our User Interface and User Experience process
          .col-12.col-sm-11.col-lg-6.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            .vhq-picture-column
              img.img-fluid(src='/img/UserExperience3ArtBoard.png', alt='User Experience and Interface Design that evokes emotion')
           
    section.bg-light
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row
          .col-12.col-sm-11.col-lg-4.vhq-mb-60 
            h5 Rapid prototyping and development of mobile applications.
            p
              | The value of a complete, consistent, and thorough software requirement is difficult to express. A project manager will begin the process of your project by learning about your company, objectives, concepts, and targeted market. The ability to identify your business goals and audience allows us to provide a tailored solution with your end-users market and objectives in mind.
            a(href='/pricing-guarantee/').btn.btn-outline-success Learn More
          .col-12.col-sm-11.col-lg-4.vhq-mb-60 
            h5 Free Submission of application to both Apple and Google Play stores.
            p
              | Our design and development teams will collaboratively work to create a beautiful User-Interface (UI) encompassing your brand aspects, creating user-centric designs and will present them as a collection of visual components, mockups, and wireframes. The transparent communication between inside and outside teams ensures a straightforward process and allows us to make any changes to ensure an optimal User-Experience.
            a(href='/instant-calculator').btn.btn-outline-success Instant Pricing Calculator
          .col-12.col-sm-11.col-lg-4.vhq-mb-60 
            h5 Flat Rate Gurantee
            p
              | Our design and development teams will collaboratively work to create a beautiful User-Interface (UI) encompassing your brand aspects, creating user-centric designs and will present them as a collection of visual components, mockups, and wireframes. The transparent communication between inside and outside teams ensures a straightforward process and allows us to make any changes to ensure an optimal User-Experience.
            a(href='/pricing-guarantee/').btn.btn-outline-success Learn More

    section
      include ./snippets/key-benefits.jade
    section.bg-white
      include ./snippets/help-your-business.jade
  include ./includes/footer.jade