include ./includes/heading.jade
body
  main
    header.bg-blue
      include ./includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Online Marketing & Advertising
            p.large.white
              | Grow your business with Exquisite’s Online Marketing & Advertising program.

    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse.text-center
          .col-12.col-sm-11.col-lg-12.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            img.top-image.img-responsive(src='/img/illustrations/undraw_goals_w8tw.png')
            h2 Grow Your Business Online 
            p.large.mb-60 Our team of expert marketing professionals put the focus on the market, metrics, and strategy, while you remain focused on your business. We help with bringing your product and service to the market quickly, effectively, and with bringing the results that drive profits.
    
    section.bg-white
      .container
        .row
          .col-lg-4
            <div class="service-icon service-icon-3"></div>
            h5 Research
            p We research to find out the best demographics, keywords, and other metrics to convert best within your market.
          .col-lg-4
            <div class="service-icon service-icon-4"></div>
            h5 Design
            p We research to find out the best demographics, keywords, and other metrics to convert best within your market.
          .col-lg-4
            <div class="service-icon service-icon-5"></div>
            h5 Optimize
            p We research to find out the best demographics, keywords, and other metrics to convert best within your market.
            
    section.bg-light
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse
          .col-12.col-sm-11.col-lg-6.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            .vhq-picture-column
              img.img-fluid(src='/img/down-sample/online_marketing_sector_1.jpg', alt='A Better Design Process.')
          .col-12.col-sm-11.col-lg-6
            h5 Campaign Management
            p We manage your online campaigns, help create ad campaigns that convert, and optimize existing campaigns to increase conversions, reduce cost, and grow your business.
              ul
                li Email Campaign Management
                li Email Campaign Design
                li Building campaigns that convert.
                li We manage ads on Google, Youtube, Instagram, Bing, Facebook, Linkedin, Twitter, Pinterest and more.
    section.bg-white
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center
          .col-12.col-sm-11.col-lg-6.vhq-picture-column.reveal-fade-in(data-sr-id='1', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            img.img-fluid(src='/img/down-sample/online_marketing_sector_2.jpg', alt='User Interface & Experience Design')
          .col-12.col-sm-11.col-lg-6
            h5 Paid Advertisements
            p Paid advertisement, while having a higher up-front spend has resulted in billions of dollars of revenue each year for the top businesses. We help create the strategies necessary for your business to succeed on paid platforms, implement techniques that help reduce your ad-spend, and exponentially increase the amount of exposure your brand receives.

    section.bg-light
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse
          .col-12.col-sm-11.col-lg-6.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            .vhq-picture-column
              img.img-fluid(src='/img/down-sample/online_marketing_sector_3.jpg', alt='A Better Design Process.')
          .col-12.col-sm-11.col-lg-6
            h5 Search Engine Optimization
            p Organic search is extremely powerful and has one of the highest ROI's in existence, as the cost to acquire each customer is decreased exponentially. Exquisite helps create the strategy, content, and with the implementation to drive your brands success within the organic search market.
            p We can help by analyzing your competitors, making suggestions to your business, learning from your past audience, and creating results that continue to increase the traffic driven to your business.
            
    section.bg-white
      .container 
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center
          .col-12.col-sm-11.col-lg-6.vhq-picture-column.reveal-fade-in(data-sr-id='1', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            img.img-fluid(src='/img/down-sample/online_marketing_sector_4.jpg', alt='User Interface & Experience Design')
          .col-12.col-sm-11.col-lg-6
            h5 Content Marketing
            p We know that content is king, and the right content can set your brand to the forefront as an expert within your industry. 
            p Utilizing the industries best content creators, we can help generate the content that is fundamental to your businesses success in all forefronts of the web.
            p The content we create is powerful, meaningful, and draws attention. We look to increase engagement on all channels using content strategies that are key for email, paid ads, blog posts, and video marketing.
    section.bg-light
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse
          .col-12.col-sm-11.col-lg-6.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            .vhq-picture-column
              img.img-fluid(src='/img/down-sample/online_marketing_sector_5.jpg', alt='User Experience and Interface Design that evokes emotion')
          .col-12.col-sm-11.col-lg-6
            h5 Email Marketing
            p Exquisite helps your emails get delivered to the right audience. 
            p Email has proven to be one of the highest marketing mediums which has a low cost and high return rate.
            ul
              li Setup the landing pages necessary to create and grow your audience.
              li Create the strategies necessary to increase the number of sales your audience generates.
              li Create the right funnels for the right people.
              
    section.bg-white
      .container         
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center
          .col-12.col-sm-11.col-lg-6.vhq-picture-column.reveal-fade-in(data-sr-id='1', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            img.img-fluid(src='/img/down-sample/online_marketing_sector_6.jpg', alt='User Interface & Experience Design')
          .col-12.col-sm-11.col-lg-6
            h5 Social Network Marketing
            p Ensuring your representing your brand and engaging with your clients is a key to your businesses success.
            p We help create the strategies and create the foundation necessary for you to showcase your brand in all channels.

    section.bg-light
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse
          .col-12.col-sm-11.col-lg-6.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            .vhq-picture-column
              img.img-fluid(src='/img/down-sample/online_marketing_sector_7.jpg', alt='A Better Design Process.')
          .col-12.col-sm-11.col-lg-6
            h5 App Store Marketing and Optimization
            p Set your application apart from your competition. Exquisite helps bring your application to the marketing quickly and effortlessly.
              ul
                li Generate application images that stand out.
                li Create descriptions and titles that bring attention to your applications.
                li Focus in on the audience that matters and increase the number of downloads your application has.
                li Increase the positive number of reviews your application receives.
              
          
section.bg-gray
  include ./snippets/key-benefits.jade 
section.bg-light
  include ./snippets/help-your-business.jade
  
include ./includes/footer.jade