include ./includes/heading.jade
body
  main
    header.bg-blue-4
      include ./includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Our Team
            p.large.white We bring on the worlds best and most passionate software developer's, designer's, and marketer's to create a well rounded team of experts. 
            p Exquisite Software helps startups and established businesses increasing their operational efficiencies, engineering capacity, and capabilities. Our expertise, industry knowledge, and passionate approach helps your business innovate, developing applications that set your business apart from your competition and set new standards.
    section.bg-light
      .container
        .row
          .col-12.col-md-12.col-lg-12.text-center
            h3.vhq-mb-md-60 Our team is full of passionate individuals with over 30 years of combined software development experience.
            div.card-deck
              span.card.headshot-card
                div
                  img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/our-team/our-team/stephan.jpg" class="img-headshot rounded-circle ")
                  h6 Stephan Shere
                  h7 Founder & Chief Executive Officer

              span.card.headshot-card
                div
                  img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/our-team/our-team/josh.jpg" class="img-headshot rounded-circle ")         
                  h6 Joshua Schichtel
                  h7 Chief Operations Officer

              span.card.headshot-card
                div
                  img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/our-team/our-team/sarafina.jpg" class="img-headshot rounded-circle ")         
                  h6 Sarafina Hearse
                  h7 Director of Business Development

              span.card.headshot-card
                div
                  img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/our-team/our-team/lexus.jpg" class="img-headshot rounded-circle")      
                  h6 Lexus Haskins
                  h7 Director of Business Development

              span.card.headshot-card
                div
                  img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/our-team/our-team/Mollie-Page.jpg" class="img-headshot rounded-circle")      
                  h6 Mollie Page
                  h7 Director of Customer Success

              span.card.headshot-card
                div
                  img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/our-team/our-team/Carson-Sowards.jpg" class="img-headshot rounded-circle")      
                  h6 Carson Sowards
                  h7 Sales Associate 


              span.card.headshot-card
                div
                  img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/our-team/our-team/martin.jpg" class="img-headshot rounded-circle")      
                  h6 Martin Brann
                  h7 Senior Software Engineer

              span.card.headshot-card
                div
                  img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/our-team/our-team/nick.jpg" class="img-headshot rounded-circle")      
                  h6 Nick Caldwell
                  h7 Project Manager

              span.card.headshot-card
                div
                  img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/our-team/our-team/Brent-Edwards.jpg" class="img-headshot rounded-circle")      
                  h6 Brent Edwards
                  h7 Director of Software Engineering

              span.card.headshot-card
                div
                  img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/our-team/our-team/Cliff-Howard.jpg" class="img-headshot rounded-circle")      
                  h6 Cliff Howard
                  h7 Software Engineer Team Leader

              span.card.headshot-card
                div
                  img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/our-team/our-team/Justin-Masterson.jpg" class="img-headshot rounded-circle")      
                  h6 Justin Masterson
                  h7 Web Design and Development Team Leader

              span.card.headshot-card
                div
                  img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/our-team/our-team/Wade-Hepburn.jpg" class="img-headshot rounded-circle")      
                  h6 Wade Hepburn
                  h7 Web Design and Development Engineer



              span.card.headshot-card
                div
                  img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/our-team/our-team/Warner-Sumner.jpg" class="img-headshot rounded-circle")      
                  h6 Warner Sumner
                  h7 Xamarin Software Engineer


              span.card.headshot-card
                div
                  img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/our-team/our-team/Emily-Yong.jpg" class="img-headshot rounded-circle")      
                  h6 Emily Yong
                  h7 Lead User-Experience Design


              span.card.headshot-card
                div
                  img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/our-team/our-team/Hillary-Atwater.jpg" class="img-headshot rounded-circle")      
                  h6 Ashley Graham
                  h7 .NET Software Engineer


              span.card.headshot-card
                div
                  img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/our-team/our-team/Perry-Penn.jpg" class="img-headshot rounded-circle")      
                  h6 Perry Penn
                  h7 User Interface and User Experience Designer

              span.card.headshot-card
                div
                  img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/our-team/our-team/Alissa-Lyndon.jpg" class="img-headshot rounded-circle")      
                  h6 Alissa Lyndon
                  h7 Graphic Design, Branding, and User Experience Designer



              span.card.headshot-card
                div
                  img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/our-team/our-team/Ratnam-Patil.jpg" class="img-headshot rounded-circle")      
                  h6 Ratnam Patil
                  h7 Xamarin Software Engineer



           




    
    include ./snippets/testimonials.jade      
  include ./snippets/key-benefits.jade 
  include ./snippets/help-your-business.jade
  include ./includes/footer.jade