include ./includes/heading.jade
body
  main
    header.bg-blue-5
      include ./includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Partnerships
            p.large.white
              | Work with Exquisite Software
    section.bg-light.vhq-pt-40.vhq-pt-md-80
      .container
        h1.vhq-mb-40.vhq-mb-md-60.text-center Partnerships
        p.vhq-mb-40.vhq-mb-md-60.text-center We do not work with any outside agencies.

  include ./includes/footer.jade