include ./includes/heading.jade
body
  main
    header.bg-blue
      include ./includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Launch
            p.large.white Learn, Support and Maintain
            p Exquisite Software is here to help you plan for your next project, big or small. Let our Roadmapping Services help create the plan required for your project to succeed.
    section.bg-white
      .container
        .row
          .col-12
            .text-center
              img.text-center.top-image.img-responsive(src="/img/illustrations/undraw_finish_line_katerina_limpitsouni_xy20.png")
            h2.mb-2.text-center First Class Support and Application Maintaince 
            p.large.text-center.vhq-mb-md-60 Our in-depth processes allow us to provide accelerated application development, mitigating risks, transparent processes and communication to ensure a successful product launch.
          

        .row.gutter-xs-none.gutter-md-wide.vhq-info-row
            .col-12.col-sm-11.col-lg-4
                img(src="/img/down-sample/launch/undraw_project_completed_w0oq.png", style='height: 150px')
                h5 Feedback
                p TK
            .col-12.col-sm-11.col-lg-4
                img(src="/img/down-sample/launch/undraw_in_progress_ql66.png", style='height: 150px')
                h5 Maintaince
                p TK
            .col-12.col-sm-11.col-lg-4
                img(src="/img/down-sample/launch/undraw_creative_thinking_b3bc.png", style='height: 150px')
                h5 Training and Support 
                p TK


    section.bg-white
      include ./snippets/help-your-business.jade
  include ./includes/footer.jade