include ./includes/heading.jade
body
  main
    header.bg-blue
      include ./includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Roadmap
            p.large.white Project Planning, Mapping and Design
            p Exquisite Software is here to help you plan for your next project, big or small. Let our Roadmapping Services help create the plan required for your project to succeed.
    section.bg-white
      .container
        .row
          .col-12
            .text-center
              img.text-center.top-image.img-responsive(src="/img/illustrations/undraw_process_e90d.png")
            h2.mb-2.text-center Let's Plan For Your Next Project
            p.large.text-center.vhq-mb-md-60 We've successfully develop and launch 100s of applications using our continually revised project planning.

        .row.gutter-xs-none.gutter-md-wide.vhq-info-row
            .col-12.col-sm-11.col-lg-4
                img(src="/img/down-sample/roadmap/undraw_Mind_map_re_nlb6.png", style='height: 150px')
                h5 Discovery
                p A project manager will begin the process of your project by learning about your company, objectives, concepts, and targeted market. 
                p We will identify your business goals and audience to allow us to provide a tailored solution with your market and objectives in mind.
            .col-12.col-sm-11.col-lg-4
                img(src="/img/down-sample/roadmap/undraw_invest_88iw.png", style='height: 150px')
                h5 Consulting 
                p Our team has seen it all and is here to help ensure you're moving forward in the right direction from the start.
                p Our team of experts will help guide you with design, infastructure, user-experience, and risks can be the difference in success and failure. 
 
                a(href="/services/development-consulting") Learn More
            .col-12.col-sm-11.col-lg-4
                img(src="/img/down-sample/roadmap/undraw_modern_professional_yt9h.png", style='height: 150px')
                h5 Research 
                p We will perform research to discovery regulation and compliance within your market, competitors in your industry, and key functionality of existing applications and platforms that may provide value to your project. 
                p Our teams help creating a product roadmap and strategy to identify and ensure software requirements meet compliance and regulations of your industry.
            .col-12.col-sm-11.col-lg-4
                img(src="/img/down-sample/roadmap/undraw_prototyping_process_rswj.png", style='height: 150px')
                h5 Design 
                p Our design and development teams will collaboratively work to create a beautiful User-Interface (UI) encompassing your brand aspects, create user-centric designs and will present them as a collection of visual components, mockups, and wireframes.
                p The transparent communication between inside and outside teams ensures a straightforward process and allows us to make any changes to ensure an optimal User-Experience.
            .col-12.col-sm-11.col-lg-4
                img(src="/img/down-sample/roadmap/planning.png", style='height: 150px')
                h5 Requirements 
                p Once we have learned about your needs, a project manager will craft a tailored project specification, with milestones planned based off priority of functionality and the value the functionality provides to the project.
                p A thorough project plan will be provided with a detailed overview of your project milestones objectives, dates, and associated times.


    section.bg-white
      include ./snippets/help-your-business.jade
  include ./includes/footer.jade