include ./includes/heading.jade
body
  main
    header.bg-blue
      include ./includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Our Process
            p.large.white We have created a transparent process that allows you to be informed throughout your projects life cycle.
    section.container
        h2.vhq-mb-40.vhq-mb-md-60.text-center Our iterative process to gurantee success.
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center
            .col-12.col-sm-11.col-lg-6.vhq-picture-column.reveal-fade-in(data-sr-id='1', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
                img.img-fluid.lozad(data-src='https://exquisitesoftware.sfo2.digitaloceanspaces.com/images/research-discovery.jpg', alt='Exquisite Software helps develop custom tailored business solutions using software written specifically for the clients needs.')
            .col-12.col-sm-11.col-lg-6
                div.vhq-block-number 01
                h5 Research & Discovery
                p The value of a complete, consistent, and thorough software requirement is difficult to express. A project manager will begin the process of your project by learning about your company, objectives, concepts, and targeted market. The ability to identify your business goals and audience allows us to provide a tailored solution with your end-users market and objectives in mind.
                p We will perform research to discovery regulation and compliance within your market, competitors in your industry, and key functionality of existing applications and platforms that may provide value to your project. Our teams help creating a product roadmap and strategy to identify and ensure software requirements meet compliance and regulations of your industry.
                p Once we have learned about your needs, a project manager will craft a tailored project specification, with milestones planned based off priority of functionality and it’s value it provides the project. A thorough project plan will be provided with a detailed overview of your project milestones objectives, dates, and associated times.

        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse
            .col-12.col-sm-11.col-lg-6.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
                .vhq-picture-column
                img.img-fluid.lozad(data-src='https://exquisitesoftware.sfo2.digitaloceanspaces.com/images/design-and-development.jpg', alt='Exquisite Software helps develop custom tailored business solutions using software written specifically for the clients needs.')
            .col-12.col-sm-11.col-lg-6
                div.vhq-block-number 02
                h5 Design & Development
                p Our design and development teams will collaboratively work to create a beautiful User-Interface (UI) encompassing your brand aspects, creating user-centric designs and will present them as a collection of visual components, mockups, and wireframes. The transparent communication between inside and outside teams ensures a straightforward process and allows us to make any changes to ensure an optimal User-Experience.
                p Simultaneously our development team will begin to design the architecture based-off the software specification. The application’s architecture will become the foundation of your project and will be presented in a model, allowing us to visualize the workflow of your project, easily identifying how models connect, and the effects implementations may have on your applications integrity.
                p All functionality will be developed according to specifications. As the design team progresses their design of the visual components, each piece will be carefully implemented, connecting functionality and design into your application
        
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center
            .col-12.col-sm-11.col-lg-6.vhq-picture-column.reveal-fade-in(data-sr-id='1', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
                img.img-fluid.lozad(data-src='https://exquisitesoftware.sfo2.digitaloceanspaces.com/images/testing-and-deployment.jpg', alt='Exquisite Software helps develop custom tailored business solutions using software written specifically for the clients needs.')
            .col-12.col-sm-11.col-lg-6
                div.vhq-block-number 03
                h5 Testing & Deployment
                p Our Quality Assurance specialists understand the importance of application stability within an infrastructure and has we have created a process ensuring only well-tested code which has passed rigorous testing is approved for deployment. We work to identify and assurance any problems before they become debilitating. A solid-process allows the ability to identify many design issues and eliminating them before deployment. We understand the health of your application is an aspect that cannot be overlooked and ensure a strict testing process targeting both the User-Interface and your application's core functionality.
                p Using Quality Assurance teams we are able to quickly identify and solve issues with both our design and development teams. All problems which are found are documented, reported to the appropriate team as well as creating a resolution plan to eliminate the problem from occurring in the future.
                p By enveloping a 2-stage process we are able to rapidly test, develop, and deploy your project while maintaining the integrity, and remain within budget and timeframes. This process starts with the usage of Continuous Integration (CI) and Automated Regression Testing. Automated testing allows our Quality Assurance teams to create reusable event based simulations which are reusable by the development team. Once a test passes we are able to move forward to manual testing, where a human’s interaction is critical to expose new conditions.

        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse
            .col-12.col-sm-11.col-lg-6.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
                .vhq-picture-column
                img.img-fluid.lozad(data-src='https://exquisitesoftware.sfo2.digitaloceanspaces.com/images/maintaince-and-support.jpg', alt='Exquisite Software helps develop custom tailored business solutions using software written specifically for the clients needs.')
            .col-12.col-sm-11.col-lg-6
                div.vhq-block-number 04
                h5 Maintenance and Support
                p Exquisite Software knows the success of each project starts with being a partner. After the deployment of your application, we will provide the training and materials necessary to train your teams and users. Our objective is to ensuring your project’s success and to provide the support necessary which allows for the growth your business requires continually adapt to the markets needs.
                p As the market provides feedback and trends changes, the goals initially established may change and adapting to the markets needs will ensure the viability of your project within the market. We will establish new objectives and specifications from the feedback and will begin new iterations based off the information received. It is our belief that communication is fundamental to the achieve these goals, and you will be connected directly with a Project Manager for clear and precise communication with everyone associated within your project.
    include ./snippets/key-benefits.jade 
    include ./snippets/help-your-business.jade
    include ./includes/footer.jade
