include ./includes/heading.jade
body
  main
    header.bg-blue-11
      include ./includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Quality Assurance, Regression Testing, and Software Testing Services
            p.large.white Ensure your product remains online and functioning.
    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse.text-center
          .col-12.col-sm-11.col-lg-12.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            img.top-image.img-responsive(src='/img/illustrations/undraw_clean_up_ucm0.png')
            h2 Quality Testing Ensures Quality Outcomes
            p.large.mb-60 Exquisite Software's Quality Assurance and Testing engineers utilize a variety of modern tools and continually learn and adapt to the needs and expectations of our clients. Manual and automated testing, allong with expertise in multiple industries allows us to create well tested applications that meet the needs of the most critical environments.
        .row.gutter-xs-none.gutter-md-wide.align-items-center.justify-content-center.vhq-info-row
          .col-12.col-sm-6.col-md-12
            h5 Managed testing services
            p Exquisite Software Quality Assurance and Testing services cover the entire spectrum of methodologies and technologies to ensure a complete coverage of testing throughout your entire application. Our team continually helps improve each and every product succeed in the market and ensure each brands reputation is upheld to the highest standards.
            p Our teams have over 12 years of solid industry experience working with applications, our testing team only accept fewer than 5% of candidates who apply, and we continually train and evaulate their performance. Our Quality Assurance engineers are passionate about creating well-tested applications and participating in new projects.
 
        //- .row.gutter-xs-none.gutter-md-wide.align-items-center.vhq-info-row
        //-   .col-6.col-sm-6.col-md-6
        //-     h5 Quality Assurance Consulting
        //-     p The success of modern business operations depends on efficiencies. Companies utilizing the greatest technologies to empower their businesses with automation and digitalization are continuaing to change and set new industry standards. Cloud and DevOps services are key to ensuring reliable software and providing timely fixes and modifications directly to your users.
        //-     p The The cloud has allowed for speed, agility, and greater effiency within the deployment of your products and allows for a high advantage over legacy applications and accelerates time to market.  These practices can enhance software performance, reduce bugs, and allow for an iterative approach where you learn directly from your users on what they want, and what they don't. DevOps services let businesses leaters quickly and innovatively deliver software to their loyal and demanding clients.
        //-   .col-6.col-sm-6.col-md-6
        //-     h5 Quality Assessment
        //-     p The success of modern business operations depends on efficiencies. Companies utilizing the greatest technologies to empower their businesses with automation and digitalization are continuaing to change and set new industry standards. Cloud and DevOps services are key to ensuring reliable software and providing timely fixes and modifications directly to your users.
        //-     p The The cloud has allowed for speed, agility, and greater effiency within the deployment of your products and allows for a high advantage over legacy applications and accelerates time to market.  These practices can enhance software performance, reduce bugs, and allow for an iterative approach where you learn directly from your users on what they want, and what they don't. DevOps services let businesses leaters quickly and innovatively deliver software to their loyal and demanding clients.


        .row.gutter-xs-none.gutter-md-wide.vhq-info-row
          .col-12.col-sm-12.col-md-4
            h5 Automated Testing
            p  Our testing teams develop and implement the industries best practices, and create use case tests within testing frameworks for Web, Mobile, and Desktop application.  
          .col-12.col-sm-12.col-md-4
            h5 Manual Testing
            p Our testing teams apply the knowledge learned over this time and by implementing industries best practices, our Quality Assurance and Software Testing process ensures a comprehensive functional testing of usability, compatability, security, and overall experience. 
          .col-12.col-sm-12.col-md-4
            h5 Supported Tests
            ul.list-unstyled
              li.checkmark API Endpoint Testing
              li.checkmark iOS and Android Applications
              li.checkmark Progressive Web Applications (PWA's)
              li.checkmark Desktop Application Testing

        
    section.bg-light
      .container
        .row.gutter-xs-none.gutter-md-wide.align-items-center.justify-content-center.flex-row-reverse
          h5 Technologies that support or mission
          .col-12.col-sm-12.col-lg-12.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            .flex-container
              .flex-item
                img(src="/img/down-sample/cloud-technologies/2000px-AmazonWebservices_Logo.svg.png" class="img-logo") 
              .flex-item
                img(src="/img/down-sample/cloud-technologies/soapui.png" class="img-logo") 
              .flex-item
                img(src="/img/down-sample/cloud-technologies/appcenter.png" class="img-logo") 
              .flex-item
                img(src="/img/down-sample/cloud-technologies/50920063f3ea00286d000008.png" class="img-logo" alt="Vagrant") 
              .flex-item
                img(src="/img/down-sample/cloud-technologies/GitHub-Logo.png" class="img-logo" alt="Docker") 
              .flex-item
                img(src="/img/down-sample/cloud-technologies/jenkins.png" class="img-logo") 
              .flex-item
                img(src="/img/down-sample/cloud-technologies/junit5-banner.png" class="img-logo") 
              .flex-item
                img(src="/img/down-sample/cloud-technologies/jira.png" class="img-logo") 
              .flex-item
                img(src="/img/down-sample/cloud-technologies/Bitbucket@2x-blue.png" class="img-logo" alt="Vagrant") 
              .flex-item
                img(src="/img/down-sample/cloud-technologies/testtable.png" class="img-logo" alt="Docker") 
              .flex-item
                img(src="/img/down-sample/cloud-technologies/seleneium.jpg" class="img-logo") 

    //- section.bg-white
    //-   .container
    //-     .row.gutter-xs-none.gutter-md-wide.vhq-info-row
    //-       .col-12.col-sm-12
    //-         h5 Accelerate your product and business goals with DevOps and with Cloud applications.
    //-         p Our expert DevOps team creates the security of a dedicated development team on standby for the critical moments to ensure your applications success. Our teams focus on rapid development, achieved through agile methodologies and competative processes, and with our industry leading knowledge in automation, fault tolerant, high-load, and security, you can relax knowing that your platform will have continual up-time.
          
section.bg-white
  include ./snippets/key-benefits.jade 
section.bg-light
  include ./snippets/help-your-business.jade
  
include ./includes/footer.jade