include ./includes/heading.jade
body
  main
    header.bg-blue
      include ./includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Internet of Things, Embeded and Robotic Software Development
            p.large.white Ensure your product remains online and functioning.
            p The infastructure that your application is built is key to your businesses success. The reliable operation of your application to your business and users and allows your technology to continue to evolve for the needs of tomorrow. Exquisite Software continually keeps up with the needs of modern practices and the best tools on the market to provide you with the most advanced and efficient development services.

    section.container
      .row.gutter-xs-none.gutter-md-wide.align-items-center.justify-content-center
        .col-12.col-sm-12
          h5 Our DevOps and Cloud Development Services
          p The success of modern business operations depends on efficiencies. Companies utilizing the greatest technologies to empower their businesses with automation and digitalization are continuaing to change and set new industry standards. Cloud and DevOps services are key to ensuring reliable software and providing timely fixes and modifications directly to your users.
          p The The cloud has allowed for speed, agility, and greater effiency within the deployment of your products and allows for a high advantage over legacy applications and accelerates time to market.  These practices can enhance software performance, reduce bugs, and allow for an iterative approach where you learn directly from your users on what they want, and what they don't. DevOps services let businesses leaters quickly and innovatively deliver software to their loyal and demanding clients.

    section
      .container
        .row.gutter-xs-none.gutter-md-wide.align-items-center.justify-content-center.flex-row-reverse
          h5 Technologies that support or mission
          .col-12.col-sm-12.col-lg-12.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            .inline-container
              .inline-item
                img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/client-logos/cloud-technologies/2000px-AmazonWebservices_Logo.svg.png" class="img-logo") 
              .inline-item
                img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/client-logos/cloud-technologies/googlecloudplatform-logo-1.png" class="img-logo") 
              .inline-item
                img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/client-logos/cloud-technologies/microsoft_azure_600x240.png" class="img-logo") 
              .inline-item
                img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/client-logos/cloud-technologies/vagrant.png" class="img-logo" alt="Vagrant") 
              .inline-item
                img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/client-logos/cloud-technologies/kubernetes-horizontal-color.png" class="img-logo" alt="Kubernetes") 
              .inline-item
                img(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/client-logos/cloud-technologies/Docker-Logo.png" class="img-logo" alt="Docker") 
               
    section.container
      .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center
        .col-12.col-sm-12.vhq-mb-md-60
          h5 Accelerate your product and business goals with DevOps and with Cloud applications.
          p Our expert DevOps team creates the security of a dedicated development team on standby for the critical moments to ensure your applications success. Our teams focus on rapid development, achieved through agile methodologies and competative processes, and with our industry leading knowledge in automation, fault tolerant, high-load, and security, you can relax knowing that your platform will have continual up-time.
          
              
  include ./snippets/key-benefits.jade 
  include ./snippets/help-your-business.jade
  include ./includes/footer.jade