include ./includes/heading.jade
body
  main
    header.bg-blue-8
      include ./includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Custom software that's designed to increase efficiency, productivity and revenue.
            p.large.white
              | Increase efficiency. Productivity. Revenue.
    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse.text-center.reveal-fade-in
          .col-12.col-sm-11.col-lg-12.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            img.reveal-fade-in.top-image.img-responsive(src='/img/illustrations/undraw_in_progress_ql66.svg')
            h2 Successfully Build and Release Your Application 
            p.large.mb-60 
              | Exquisite Software's software development engineers have helped successfully build great apps, implementing continous integration, and continually supported the applications of 100's of startups and businesses.
              | To help get your product to market as quick as possible, we've created the <a href="#">Exquisite Development Plan™</a> to help successfully develop applications into working products within weeks, not months.
          

    section.bg-light
      .container   
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.text-center.reveal-fade-in
            .col-md-6
              h5 Startups
              p We love working with startups, educating them, and assisting them throughout the planning, development, and maintenance experience.
            .col-md-6
              h5 Minimal Viable Products (MVP)
              p The Exquisite Development Plan™ allows for building an MVP application in weeks and scaling development based on priority.
          
    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.reveal-fade-in
          .col-12.col-sm-11.col-lg-6.vhq-picture-column.reveal-fade-in(data-sr-id='1', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            .circle
              img.img-fluid(src='/img/down-sample/modernize.jpg', alt='Exquisite Software helps develop custom tailored business solutions using software written specifically for the clients needs.')
          .col-12.col-sm-11.col-lg-6.reveal-fade-in
            h5 We build software to increase productivity and efficiency within your businesses.
            p Exquisite Software’s first-class developers construct enterprise-class applications with performance in mind. Our team of developers come with a deep understanding of today’s technologies, enabling us to provide solutions to the different needs of many markets. The ability to readily build or implement technologies into both new and existing projects allows for a single team to handle all your new and existing development needs.
            p Today, there is an an essential need for any company to utilize technology to implement intelligent solutions into their business. Exquisite simplifies deployment, maintenance, and software lifecycle operations, while improving productivity in your business by automating your workflow. Having a solid software foundation creates an stable infastructure for your business, enabling you to focus on the goals of your business. Exquisite takes an innovative approach on each project, ensuring both business and technology needs are meet.
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse.fadein
          .col-12.col-sm-11.col-lg-6.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            .vhq-picture-column
              .circle
                img.img-fluid(src='/img/down-sample/modernize_application.jpg', alt='Exquisite Software helps develop custom tailored business solutions using software written specifically for the clients needs.')
          .col-12.col-sm-11.col-lg-6
            h5 Modernize your current application infastracture.
            p We take the necessary time to render intuitive user experiences that feel natural. When we design websites and systems, our goal is to exceed your expectations by maximizing ease and efficiency of interaction and experience.
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center
          .col-12.col-sm-11.col-lg-6.vhq-picture-column.reveal-fade-in(data-sr-id='1', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
              .circle
                img.img-fluid(src='/img/down-sample/increase_efficiency.jpg', alt='Exquisite Software helps develop custom tailored business solutions using software written specifically for the clients needs.')
          .col-12.col-sm-11.col-lg-6
            h5 Increase efficiency using automation. 
            p
              | Exquisite Software understands that your business requires a beautiful online forefront for showcasing your brand. Beginning with the look-and-feel, our designers create a beautiful, hand-crafted web-design tailored your business. Our team ensures by encompassing a number of layouts to ensure your site remains clearly readable on all devices and screen sizes for an optimum experience that your businesses deserves.

section.bg-light.reveal-fade-in
  include ./snippets/key-benefits.jade 
section.bg-light.reveal-fade-in
  include ./snippets/help-your-business.jade

include ./includes/footer.jade
