include ./includes/heading.jade
body
  main
    header.bg-blue-ux
      include ./includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 User Experience Optimization and Design intended to increase engagement and productivity.
            p.large.white
              | Optimize your application your design and workflows to create the best experience possible.
    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center
          .col-md-12.col-sm-12.text-center
            img.text-center.img-section.img-fluid.mb-20(src="/img/optimization.png")
            h2 Our team can give you the head start on your project that it deserves.
            p.mb-60 Having an experienced partner to help guide you with design, infastructure, user-experience, and risks can be the difference in success and failure. Our team has seen it all and is here to help ensure you're moving forward in the right direction from the start.  
            
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse
          .col-12.col-sm-11.col-lg-6.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            .vhq-picture-column
              img.img-fluid(src='/img/UserExperience3ArtBoard.png', alt='User Experience and Interface Design that evokes emotion')
          .col-12.col-sm-11.col-lg-6
            h5 User Experience and Interface Design that evokes emotion.
            h6 Intuitive Designs
            p
              | We take the necessary time to render intuitive user experiences that feel natural. When we design websites and systems, our goal is to exceed your expectations by maximizing ease and efficiency of interaction and experience.
            h6 In-Depth Design Process
            p
              | Our designers ensure quality from concept to presentation by encompass a strict process which undergoes quality assurance at every stage, allowing for a client experience that cannot be matched.
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center
          .col-12.col-sm-11.col-lg-6.vhq-picture-column.reveal-fade-in(data-sr-id='1', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            img.img-fluid(src='https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/UI-and-UX.png', alt='User Interface & Experience Design')
          .col-12.col-sm-11.col-lg-6
            h5 User Interface & Experience Design
            p Exquisite design team creates user experiences tailored to your brand. Beginning with the User Interface, we create unique designs from the ground up for digital products, while ensuring the workflow is simple, clear, and as efficient as possible. A beautiful user experience is essential to every product and users are more likely to use and recommend your product to others when the product meets and surpasses their expectations.
            p We design, test, and optimize each design to ensure the best experience possible for your end-users by focusing on the look and feel of the User Interface, interactions, verbage and ensuring a great experience that leaves your users appreciating your product.
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse
          .col-12.col-sm-11.col-lg-6.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            .vhq-picture-column
              img.img-fluid(src='https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/UX-Mobile-Design.png', alt='A Better Design Process.')
          .col-12.col-sm-11.col-lg-6
            h5 A Better Design Process.
            p Exquisite design team creates user experiences tailored to your brand. Beginning with the User Interface, we create unique designs from the ground up for digital products, while ensuring the workflow is simple, clear, and as efficient as possible. 
            p A beautiful user experience is essential to every product and users are more likely to use and recommend your product to others when the product meets and surpasses their expectations.
            p We design, test, and optimize each design to ensure the best experience possible for your end-users by focusing on the look and feel of the User Interface, interactions, verbage and ensuring a great experience that leaves your users appreciating your product.

    section.bg-light
      .container
        .row.gutter-xs-none.vhq-info-row.text-center
          .col-12.col-sm-12.col-lg-12
            h5 The best User-Interface and Prototyping software in the industry
            p.large.mb-60 Our teams optimize then create designs and prototypes that are tailored to your objectives.
            .flex-container
              .flex-item
                img(src="/img/down-sample/cloud-technologies/sketch-logo-light-transparent@2x-610x229.png" class="img-logo") 
              .flex-item
                img(src="/img/down-sample/cloud-technologies/2000px-Adobe_XD_CC_icon.svg.png" class="img-logo") 
              .flex-item
                img(src="/img/down-sample/cloud-technologies/cad4691394b81627e172cb2aac71e29f.png" class="img-logo") 
              .flex-item
                img(src="/img/down-sample/cloud-technologies/protopie.png" class="img-logo" alt="Protopie") 

section.bg-white
  include ./snippets/key-benefits.jade 
section
  include ./snippets/help-your-business.jade
include ./includes/footer.jade