include ./includes/heading.jade
body
  main
    header.bg-blue-6
      include ./includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Web Application Development
            p.large.white
              | Tailored Business Dashboards, Web Applications, and Website Development tailored to fit your brand.

    section
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse.text-center.reveal-fade-in
          .col-12.col-sm-11.col-lg-12.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            img.text-center.img-section.img-fluid.mb-20(src="/img/mobile-development-banner.png")
            h2 Successfully Build and Release Your Application 
            p.large.mb-60 
              | Exquisite Software's software development engineers have helped successfully build great apps, implementing continous integration, and continually supported the applications of 100's of startups and businesses.
              | To help get your product to market as quick as possible, we've created the <a href="#">Exquisite Development Plan™</a> to help successfully develop applications into working products within weeks, not months.
    section.bg-light
      .container
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center
          .col-12.col-sm-11.col-lg-6.vhq-picture-column.reveal-fade-in(data-sr-id='1', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            .circle
              img.img-fluid(src='/img/down-sample/AdobeStock_194400200.jpg', alt='Exquisite Software helps develop custom tailored business solutions using software written specifically for the clients needs.')
          .col-12.col-sm-11.col-lg-6
            h5 User-Centered Web Design
            p Exquisite understands that your business requires a beautiful online forefront for showcasing your brand. To start, we focus on the look and feel, our designers create a modern, hand-crafted web-design tailored your business. Our team ensures by encompassing designs for a number of screen sizes to ensure your site remains clearly readable on all devices for an optimum experience that your businesses deserves.
      
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse
          .col-12.col-sm-11.col-lg-6.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            .vhq-picture-column
              .circle
                img.img-fluid(src='/img/down-sample/AdobeStock_194400221.jpg', alt='Exquisite Software helps develop custom tailored business solutions using software written specifically for the clients needs.')
          .col-12.col-sm-11.col-lg-6
            h5 Content Optimization
            p As part of your initial design, we want to ensure your online exposure and marketing campaign begins with a strong foundation. Your content will analyzed and optimized to allow for the greatest reach possible to your market and ensuring the greatest return from your website.
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center
          .col-12.col-sm-11.col-lg-6.vhq-picture-column.reveal-fade-in(data-sr-id='1', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            .circle
              img.img-fluid(src='/img/down-sample/ecommerce.jpg', alt='Exquisite Software helps develop custom tailored business solutions using software written specifically for the clients needs.')
          .col-12.col-sm-11.col-lg-6
            h5 E-Commerce Platform Development
            p Exquisite understands as a business, the most effective way to tip the scale in your favor is with continued maximization and modernization of your ecommerce technology. Our team helps create and expand the exposure of your new or established online store. We understand the buying experience is every bit as important as the product being sold, and ease of use is the key to shifting potential buyers from cart to confirmed order. By focusing on the shoppers experience as a whole, and continually keeping conversion-optimization in mind, we are able to to maximize your success by having the highest reach and highest conversion-rates possible.
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.flex-row-reverse
          .col-12.col-sm-11.col-lg-6.reveal-fade-in(data-sr-id='2', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            .vhq-picture-column
              .circle
                img.img-fluid(src='/img/down-sample/saas-application.jpg', alt='Exquisite Software helps develop custom tailored business solutions using software written specifically for the clients needs.')
          .col-12.col-sm-11.col-lg-6
            h5 Software as a Service (SaaS) Development
            p  Exquisite has built worked with many businesses to both convert existing non-licensed, and annual licensing to successfully develop and deploy new applications to increase revenue. A subscription model allows you to securely establishing streamlined revenue for your business and enables you to focus on your existing clients instead of chasing after new sales. Our team will help consult, design and develop fully custom subscription based applications that turn technologies into businesses and establishing a strong foundation for your company. 
        .row.gutter-xs-none.gutter-md-wide.vhq-info-row.align-items-center.justify-content-center.hidden
          .col-12.col-sm-11.col-lg-6.vhq-picture-column.reveal-fade-in(data-sr-id='1', style='; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 1s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ')
            .circle
              img.img-fluid(src='/img/down-sample/500_F_200945374_qJq71voVxVnzHW4P1YOwcLlEIpyRcucI.jpg', alt='Exquisite Software helps develop custom tailored business solutions using software written specifically for the clients needs.')
          .col-12.col-sm-11.col-lg-6
            h5 Development For The Worlds Largest Frameworks
            p We design, develop, and extend the functionality of the world’s highest used content management systems (CMS) such as Wordpress, Laraval, CakePHP, allowing for all content of your site to be easily maintainable and editable by anyone, even without coding or design skills.
        

section.bg-white
  include ./snippets/key-benefits.jade 
section.bg-light
  include ./snippets/help-your-business.jade

include ./includes/footer.jade