include ./includes/heading.jade
body
  main
    header.bg-blue-8
      include ./includes/header.jade
      .container
        .row.align-items-center.gutter-md-wide.flex-md-row-reverse.justify-content-center.heading
          .col-xs-12.col-md-12
            h1 Why Choose Exquisite Software?
            p.large.white
              | Exquisite Software is a software development provider that builds innovative technologies and platforms to enable businesses to work more efficiently. 
            p Our teams are made up of bright and innovative professionals who are perfectly balanced with a deep understanding of user-experience, technology, marketing and business allowing us to tackle problems of various size and complexity.
            p It is our commitment to making our client's success our number one priority, and we believe communication and structure is key to that success. We have created a seamless process to enable an excellent experience throughout the lifecycle of each software project. We seek to create long lasting relationships as a development partner, and doing so we remain by your side as long as you need.

    section.bg-light
      .container
        h5 Companies partner with Exquisite to achieve their tightest deadlines, accelerate their product development time to market, and simply put, to achieve the greatest results.
        p For companies who look to allocate their internal resources to other projects to managing additional projects and full-scale operations of a software development team, Exquisite Software extends your capabilities and enables your business to develop new products.
        p.vhq-mb-40.vhq-mb-md-60 Exquisite takes on the day-to-day responsibilities relating to the architecture, user-interface and experience, development and extended testing of your products, allowing your business to focus on what matters. Exquisite Software will identify, allocate, manage the development resources, and ensure all project objectives are well defined and meet.
 
        img.img-fluid(style="width: 100%", src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/why-exquisite.png",  alt="How can Exquisite help you?")
        
        .row 
          .col-12.col-sm-12.col-lg-12
            h5 Our process is dedicated to the customer
            p Our Quality Assurance specialists understand the importance of application stability within an infrastructure and has we have created a process ensuring only well-tested code which has passed rigorous testing is approved for deployment. We work to identify and assurance any problems before they become debilitating.
            p A solid-process allows the ability to identify many design issues and eliminating them before deployment. We understand the health of your application is an aspect that cannot be overlooked and ensure a strict testing process targeting both the User-Interface and your application's core functionality.
            a(href="/our-process")
              button.btn.btn-outline-success(type='button') Learn More

    section.bg-why.text-center
      .container
        .row
          .col-md-3.col-sm-6.col-xs-12
            h2.text-center.white 3,000+
            h6.text-center.white
              | Designers & Developers
          .col-md-3.col-sm-6.col-xs-12
            h2.text-center.white 1,000+
            h6.text-center.white
              | Successful Projects
          .col-md-3.col-sm-6.col-xs-12
            h2.text-center.white 21+
            h6.text-center.white
              | Technologies Supported
          .col-md-3.col-sm-6.col-xs-12
            h2.text-center.white 11
            h6.text-center.white
              | Years Experience
    section.bg-white
      .container
        .row.gutter-xs-none.gutter-md-wide
          .col-12.col-sm-11.col-lg-12
            h5 The benefits of using Exquisite Software
          
            ul.list-unstyled
              li.checkmark We have more then 23 years of software & marketing experience.
              li.checkmark We have a proven track record working with more than 1,000 global clients and have worked with many of the world's most respected brands.
              li.checkmark We believe in User-Centered products that show-case quality to ensure user-retention.
              li.checkmark We have the experience necessary to drive successfuly application launches & marketing campaigns.
              li.checkmark We have pricing for all budgets and flexible payment structures, and each Task Order has a Flat Rate guarantee, meaning if it's listed in the specification, we will cover it for the exact price without any additional surprises.
              li.checkmark We will work as an extension of your team and stand by your side throughout the projects life cycle.
  
  include ./snippets/testimonials.jade
  section.bg-white
    include ./snippets/key-benefits.jade 
  section.bg-light
    include ./snippets/help-your-business.jade    
  include ./includes/footer.jade