.container
  .row.vhq-mt-xs-40.vhq-mt-md-80.justify-content-center
    .col-12.col-md-12.middle
      h4.text-center Awards and Recognition
    .col-12.col-md-12
      .row.text-center
        .col-lg-12.vhq-pb-20.vhq-pb-md-0
          .inline-container
            .inline-item
              img.img-fluid(src='/img/down-sample/top-software-developers.png', style='height: 80px; margin: 20px;')
            .inline-item
              img.img-fluid(src='/img/down-sample/Software_Developers_2018.png', style='height: 120px; margin: 20px;')
            .inline-item
              img.img-fluid(src='/img/down-sample/Mobile_App_Developers_2018.png', style='height: 120px; margin: 20px;')
      