
.container
  .row
    .col-12
      .text-center
        img.text-center.top-image.img-responsive(src="/img/illustrations/undraw_review_fkgn.svg")
      h2.text-center A memorable experience from the start
      p.large.text-center.vhq-mb-md-60
        | Get the best talent and most efficient team with all the great benefits you would expect and more.
  .row.gutter-xs-none.gutter-md-wide.vhq-info-row
    .col-sm-6.col-lg-6.col-xs-12.vhq-mb-60 
      img.icon(src='/img/illustrations/undraw_true_love_cy8x.svg')
      .content
        h5 Client Experiences
        p We treat all of our clients the same, and love to work with small businesses as well as enterprises. Each project is tailored to fits our clients most valuable needs. We are able to work with you throughout the process to ensure only the most important features are prioritised and built.
    .col-sm-6.col-lg-6.col-xs-12.vhq-mb-60 
      img.icon(src='/img/illustrations/undraw_development_ouy3.svg')
      .content
        h5 Dedicated Support Teams
        p Our teams will ensure that all bugs and support requests are handled on a priority basis. Our teams will handle new feature requests, support tickets and ensure the transparency of the project between our teams and yours, allowing you to continue to focus on your core business needs, while we handle all the development requirements that enable your applications to run seamlessly and remain online.
    .col-sm-6.col-lg-6.col-xs-12.vhq-mb-60 
      img.icon(src='/img/illustrations/undraw_time_management_30iu.svg')
      .content
        h5 Quick Turn Around Times
        p We know the urgency that some projects require, and because of this our teams rapidly develop applications to help ensure you get your project up and running in as little time as possible. On average we are capable of getting Minimal Viable Products and Beta releases of applications completed in under 60 days on average.
    .col-sm-6.col-lg-6.col-xs-12.vhq-mb-60 
      img.icon(src='/img/illustrations/undraw_Savings_re_eq4w.svg')
      .content
        h5 Flat-Rate Gurantee and Free Bug Fixes
        p We work with highly defined specifications to ensure we are only developing features that you have requested and approved, our engineers are confident enough to provide flat rate costs on a per project basis, ensuring no surprises when it comes to cost, additionally, we ensure your source remains bug-free, and any bugs which are reported will be modified free. 
    