section.bg-ghost
  .container
    .row.gutter-xs-none.gutter-md-wide.vhq-info-row.text-center
      .col-md-12.col-sm-12.text-center
        h2 Have a project you need help with?
        p Exquisite Software would love to help with your next project. Speak with a team member today to learn how your business can benefit from custom software.
        a.btn.btn-outline-primary.text-center.vhq-ml-md-10(href="Contact Us") Contact Us