section.bg-gray-developers
  .dark-cover
  .container
      .row.text-center.white-text
          .col-12
              h2.text-center Other Projects
              p.large.text-center.vhq-mb-md-60
                  | We have worked on many applications, check out some of our other work.
      .row.card-deck.justify-content-center.vhq-mb-60.project-slide
        a.card.w-300.utilities(style='display: block; flex: none', href='/our-work/flyp')
          div.card-image-wrapper
            .card-img-preview(style="background-image:url('/img/flyp/flyp.png')")
          .card-body
            h6.card-title.vhq-mb-40 Fully Leverage Your Policy
              br
              small(style="text-transform: uppercase") Raydiant Financial, LLC
            .badge.badge-float Financial

        a.card.w-300.utilities(style='display: block; flex: none', href='/our-work/lindsey-forwarders')
          div.card-image-wrapper
            .card-img-preview(style="background-image:url('/img/coming-soon.png')")
          .card-body
            h6.card-title.vhq-mb-40 Lindsey Forwarders Portal
              br
              small(style="text-transform: uppercase") Lindsey Forwarders
            .badge.badge-float Logistics

        a.card.w-300(style='display: block; flex: none', href='/our-work/clyn')
          div.card-image-wrapper
            .card-img-preview(style="background-image:url('/img/clyn/clyn.png')")
          .card-body
            h6.card-title.vhq-mb-40 Clyn
              br
              small(style="text-transform: uppercase") Clyn App, LLC
            .badge.badge-float Consumer∂

        a.card.w-300(style='display: block; flex: none', href='/our-work/gravy')
          div.card-image-wrapper
              .card-img-preview(style="background-image:url('/img/Gravy-How-can-we-serve-you.png')")
            .card-body
            h6.card-title.vhq-mb-40.vhq-mb-40 Gravy
              br
              small(style="text-transform: uppercase") Gravy, Inc.
            .badge.badge-float Resturaunts

        a.card.w-300(style='display: block; flex: none', href='/our-work/coinoptions')
          div.card-image-wrapper
            .card-img-preview( style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/CoinOptions.png')")
          .card-body
            h6.card-title.vhq-mb-40 Cryptocurrency Wallet
              br
              small.card-title(style="text-transform: uppercase") CoinOptions
            .badge.badge-float Financial


        a.card.w-300(style='display: block; flex: none', href='/our-work/mobile-erp')
          div.card-image-wrapper
            .card-img-preview(style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Western-Mobile-ERP/Western-Main.png')")
          .card-body
            h6.card-title.vhq-mb-40 Mobile ERP
              br
              small(style="text-transform: uppercase") Western Windows Systems
            .badge.badge-float Manufacturing

        a.card.w-300(style='display: block; flex: none', href='/our-work/evocai')
          div.card-image-wrapper
            .card-img-preview(style="background-image:url('/img/evocai/main-screen.png')")
          .card-body
            h6.card-title.vhq-mb-40 Evocai
              br
              small(style="text-transform: uppercase") Evocai
            .badge.badge-float Commerce

        a.card.w-300.utilities(style='display: block; flex: none', href='/our-work/authhub')
          div.card-image-wrapper
            .card-img-preview(style="background-image:url('/img/authhub/authhub.png')")
          .card-body
            h6.card-title.vhq-mb-40 AuthHub - Licensing SDK
              br
              small(style="text-transform: uppercase") AuthHub, LLC
            .badge.badge-float Licensing

        a.card.w-300.utilities(style='display: block; flex: none', href='/our-work/datasight-portal')
          div.card-image-wrapper
            .card-img-preview(style="background-image:url('/img/datasight/portal.png')")
          .card-body
            h6.card-title.vhq-mb-40 Datasight Customer Portal
              br
              small(style="text-transform: uppercase") DataSight USA
            .badge.badge-float Utility
            
        a.card.w-300(style='display: block; flex: none', href='/our-work/medicare-trans')
          div.card-image-wrapper
            .card-img-preview(style="background-image:url('/img/medicaretrans/medicaretrans.png')")
          .card-body
            h6.card-title.vhq-mb-40 Medicare Trans Route Optimizer
              br
              small(style="text-transform: uppercase") Medicare Trans, LLC
            .badge.badge-float Utility


        a.card.w-300(style='display: block; flex: none', href='/our-work/late-on-rent')
          div.card-image-wrapper
            .card-img-preview(style="background-image:url('/img/lateonrent/lateonrent.png')")
          .card-body
            h6.card-title.vhq-mb-40 Late On Rent
              br
              small(style="text-transform: uppercase") Superior Process Services
            .badge.badge-float Legal

        a.card.w-300(style='display: block; flex: none', href='/our-work/loan-management-software')
          div.card-image-wrapper
              .card-img-preview(style="background-image:url('/img/coming-soon.png')")
            .card-body
            h6.card-title.vhq-mb-40 Loan Management Software
              br
              small(style="text-transform: uppercase") Active Funding Group
            .badge.badge-float Financial


        a.card.w-300(style='display: block; flex: none', href='/our-work/tmflow')
          div.card-image-wrapper
            .card-img-preview(style="background-image:url('/img/TaskDetails.png')")
          .card-body
            h6.card-title.vhq-mb-40 T&M Flow
              br
              small(style="text-transform: uppercase") G&E Software
            .badge.badge-float Construction

        a.card.w-300(style='display: block; flex: none', href='/our-work/pocketpro')
          div.card-image-wrapper
            .card-img-preview(style="background-image:url('/img/pocketpro/pocketpro.png')")
          .card-body
            h6.card-title.vhq-mb-40 PocketPro
              br
              small(style="text-transform: uppercase") PocketPro, LLC
            .badge.badge-float Consumer


        a.card.w-300(style='display: block; flex: none', href='/our-work/signals')
          div.card-image-wrapper
            .card-img-preview(style="background-image:url('/img/ninja-trader-signals-addon.jpg')")
          .card-body
            h6.card-title.vhq-mb-40 NinjaTrader Signals Addon
              br
              small(style="text-transform: uppercase") Undisclosed Client
            .badge.badge-float Financial


        a.card.w-300(style='display: block; flex: none', href='/our-work/parts-badger')
          div.card-image-wrapper
            .card-img-preview(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Parts-Badger/parts-badger.png", style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Parts-Badger/parts-badger.png')")
          .card-body
            h6.card-title.vhq-mb-40 Parts Badger - Instant Quote Calculator
              br
              small.card-title(style="text-transform: uppercase") PartsBadger
            .badge.badge-float Manufacturing

        a.card.w-300(style='display: block; flex: none', href='/our-work/rugged-video')
          div.card-image-wrapper
            .card-img-preview(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Rugged-Video-Kiosk/transfers.png", style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Rugged-Video-Kiosk/transfers.png')")
          .card-body
            h6.card-title.vhq-mb-40 Rugged Video - Video Kiosk
              br
              small.card-title(style="text-transform: uppercase") Rugged Video
            .badge.badge-float Tourism


        a.card.w-300(style='display: block; flex: none', href='/our-work/real-estate-crm')
          div.card-image-wrapper
            .card-img-preview(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Real-Estate-CRM.png", style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Real-Estate-CRM.png')")
          .card-body
            h6.card-title.vhq-mb-40 Real Estate Mobile CRM
              br
              small.card-title(style="text-transform: uppercase") Next Level Apps
            .badge.badge-float Real-Estate

        a.card.w-300(style='display: block; flex: none', href='/our-work/voice2pictures')
          div.card-image-wrapper
            .card-img-preview(style="background-image:url('/img/Voice2Pictures/Voice2Pictures.png')")
          .card-body
            h6.card-title.vhq-mb-40 Voice2Pictures
              br
              small.card-title(style="text-transform: uppercase") VOICE 2 PICTURES
            .badge.badge-float Consumer

        a.card.w-300(style='display: block; flex: none', href='/our-work/thyrodine')
          div.card-image-wrapper
            .card-img-preview(style="background-image:url('/img/nitek-medical/Thyroflex-Thyrodine.jpg')")
          .card-body
            h6.card-title.vhq-mb-40 Thyroflex & Thyrodine
              br
              small.card-title(style="text-transform: uppercase") Nitek Medical
            .badge.badge-float Health & Medical

        a.card.w-300(style='display: block; flex: none', href='/our-work/lively-feed')
          div.card-image-wrapper
            .card-img-preview(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/LivelyFeed/LivelyFeed-Footer.png", style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/LivelyFeed/LivelyFeed-Footer.png')")
          .card-body
            h6.card-title.vhq-mb-40 Lively Feed
              br
              small.card-title(style="text-transform: uppercase") Lively Feed
            .badge.badge-float Chat

        a.card.w-300(style='display: block; flex: none', href='/our-work/enarc')
          div.card-image-wrapper
            .card-img-preview(style="background-image:url('/img/enarc-systems/enarc-systems.png')")
          .card-body
            h6.card-title.vhq-mb-40 ENARC
              br
              small.card-title(style="text-transform: uppercase") Enarc Systems, LLC
            .badge.badge-float Health & Medical
            
        a.card.w-300(style='display: block; flex: none', href='/our-work/tree-to-tree-adventures')
          div.card-image-wrapper
            .card-img-preview(src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Tree-To-Tree-Adventures/Tree2TreePhone.png", style="background-image:url('https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/images/Tree-To-Tree-Adventures/Tree2TreePhone.png')")
          .card-body
            h6.card-title.vhq-mb-40 Tree2Tree Adventures Website Redesign
              br
              small.card-title(style="text-transform: uppercase") Tree2Tree Adventures
            .badge.badge-float Tourism

        a.card.w-300.utilities(style='display: block; flex: none', href='/our-work/ashleys-hair-extensions')
          div.card-image-wrapper
            .card-img-preview(style="background-image:url('/img/ashley-hair-extensions/main.png')")
          .card-body
            h6.card-title.vhq-mb-40 Ashley's Hair Extensions Website
              br
              small(style="text-transform: uppercase") Ashleys Hair Extensions
            .badge.badge-float Travel

        a.card.w-300.utilities(style='display: block; flex: none', href='/our-work/vacafilmz')
          div.card-image-wrapper
            .card-img-preview(style="background-image:url('/img/vacafilmz/vacafilmz.png')")
          .card-body
            h6.card-title.vhq-mb-40 VacaFilmz Website
              br
              small(style="text-transform: uppercase") VacaFilmz, LLC
            .badge.badge-float Travel
