section
    .container
        .row.text-center
            .col-12
                h2.text-center Our Services
                p.large.text-center.vhq-mb-md-60
                    | We have worked on many applications, check out some of our other work.
        .row.card-deck
            a.card(href='/services/software-development').mb-3.sm-noflex.card-30 
                .card-body.text-center
                    .service-icon.service-icon-1
                    h6.card-title Software Development
                    .card-text Custom Enterprise Software designed to streamline and increase efficiency, productivity, and connectivity within your organizations operations.
            a.card(href='/services/software-development').mb-3.sm-noflex.card-30
                .card-body.text-center
                    .service-icon.service-icon-2
                    h6.card-title Mobile Development
                    .card-text Develop applications that reach the entire market.
                    | Exquisite Software creates native and cross-platform mobile applications for iOS, Windows Mobile and Android devices. 
            a.card(href='/services/mobile-development').mb-3.sm-noflex.card-30
                .card-body.text-center
                    .service-icon.service-icon-3
                    h6.card-title Web Development
                    .card-text Tailored Business Dashboards, Web Applications, and Website Development tailored to fit your brand.
            a.card(href='/services/web-design-and-development').mb-3.sm-noflex.card-30
                .card-body.text-center
                    .service-icon.service-icon-4
                    h6.card-title UI & UX Design and Optimization
                    .card-text User Experience Optimization and Design intended to increase engagement and productivity.
            a.card(href='/services/user-experience').mb-3.sm-noflex.card-30
                .card-body.text-center
                    .service-icon.service-icon-5
                    h6.card-title QA & Testing
                    .card-text Your application’s health is critical and any problems with the usability may lead to the loss of end-users. 
            a.card(href='/services/quality-assurance').mb-3.sm-noflex.card-30
                .card-body.text-center
                    .service-icon.service-icon-7
                    h6.card-title DevOps
                    .card-text A team at your fingertips, ensuring all critical points of your application are monitored and accessable.