section.bg-why.text-center
    .container
        .row
            .col-md-3.col-sm-6.col-xs-12
                h2.text-center.white 3,000+
                h6.text-center.white Designers & Developers
            .col-md-3.col-sm-6.col-xs-12
                h2.text-center.white 1,000+
                h6.text-center.white Successful Projects
            .col-md-3.col-sm-6.col-xs-12
                h2.text-center.white 21+
                h6.text-center.white Technologies Supported
            .col-md-3.col-sm-6.col-xs-12
                h2.text-center.white 11
                h6.text-center.white Years Experience