<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html style="height: 100%; width: 100%; margin: 0"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head>
<body  style="height: 100%; width: 100%; margin: 0"><div><div style="background-color: rgb(250,250,250);margin: 0;">
  <table align="left" border="0" cellpadding="0" cellspacing="0" style="font-family: &quot;Proxima Nova&quot; , &quot;Century Gothic&quot; , Arial , Verdana , sans-serif;font-size: 14.0px;color: rgb(94,94,94);width: 98.0%;max-width: 600.0px;float: none;margin: 0 auto;">
    <tbody>
      <tr align="middle">
        <td style="padding-top: 30.0px;padding-bottom: 32.0px;"><img
            height="37" src="https://exquisitesoftware.sfo2.cdn.digitaloceanspaces.com/logo/logo.png" /></td></tr>
      <tr>
        <td><table bgcolor="#ffffff" cellpadding="0" style="width: 100.0%;line-height: 20.0px;padding: 32.0px;border: 1.0px solid;border-color: rgb(240,240,240);">
            <tbody>
              <tr>
                <td
                  style="color: rgb(94,94,94);font-size: 22.0px;line-height: 22.0px;">
                  <h2>A new lead was submitted</h2>                     </td></tr>
                  <tr>
                    <td
                      style="padding-top: 24.0px;vertical-align: bottom;">Hi,</td></tr>
                  
                    <tr>
                    <td>
                      <p>A new contact form submission was received, the details are listed below:</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <hr>
                      <table>
                          <tr>
                              <td style="padding-top: 24.0px; font-weight:600; max-width: 160px; margin-right: 100px;">
                                Name:
                              </td>
                              <td style="padding-top: 24.0px;">
                                {{ fullname }}
                              </td>
                          </tr>
                          <tr>
                              <td style="padding-top: 24.0px; font-weight:600; max-width: 160px; margin-right: 100px;">
                                Company Name:
                              </td>
                              <td style="padding-top: 24.0px;">
                                {{ company_name }}
                              </td>
                          </tr>
                          <tr>
                              <td style="padding-top: 24.0px; font-weight:600; max-width: 160px; margin-right: 100px;">
                                Email Address:
                              </td>
                              <td style="padding-top: 24.0px;">
                                {{ email }}
                              </td>
                          </tr>
                          <tr>
                              <td style="padding-top: 24.0px; font-weight:600; max-width: 160px; margin-right: 100px;">
                                Phone Number:
                              </td>
                              <td style="padding-top: 24.0px;">
                                {{ phone }}
                              </td>
                          </tr>
                          <tr>
                              <td style="padding-top: 24.0px; font-weight:600; max-width: 160px; margin-right: 100px;">
                                Budget:
                              </td>
                              <td style="padding-top: 24.0px;">
                                {{ budget }}
                              </td>
                          </tr>
                          <tr>
                              <td style="padding-top: 24.0px; font-weight:600; max-width: 160px; margin-right: 100px;">
                                Timeframe:
                              </td>
                              <td style="padding-top: 24.0px;">
                                {{ timeframe }}
                              </td>
                          </tr>
                          <tr>
                              <td style="padding-top: 24.0px; font-weight:600; max-width: 160px; margin-right: 100px;">
                                Reason For Contacting:
                              </td>
                              <td style="padding-top: 24.0px;">
                                {{ reason }}
                              </td>
                          </tr>
                          <tr>
                              <td style="padding-top: 24.0px; font-weight:600; max-width: 160px; margin-right: 100px;">
                                Services Requested:
                              </td>
                              <td style="padding-top: 24.0px;">
                                  {% autoescape false %}
                                  {{ services }}
                                  {% endautoescape %}
                              </td>
                          </tr>                       
                    </table>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding-top: 24.0px;">
                      {% autoescape false %}
                      {{ message }}
                      {% endautoescape %}
                    </td>
                  </tr>
                  <tr>
                      <td style="padding-top: 24.0px;"><hr>
                        <a href="{{hubspot_record}}"
                      style="color: rgb(0,125,193);text-decoration: none;"><span
                  style="color: rgb(0,125,193);text-decoration: none;">Click here to view the record.</span></a></td>
                  </tr>

            </tbody></table></td></tr>
      <tr>
        <td
          style="font-size: 12.0px;padding: 16.0px 0 30.0px 50.0px;color: rgb(153,153,153);">
          This is an automatically generated message from <a
            href="https://www.exquisite.software"
          style="color: rgb(97,97,97);">Exquisite Software</a>. Replies are not
          monitored or answered.             
        </td></tr></tbody></table></div>
</div></body></html>